.about-company-block {
  background-color: $color-alice-blue;
}


.about-company-block__wrapper {
  display: flex;
  flex-direction: row;

  width: 1220px;
  margin: 0 auto;
  padding: 90px 0 100px 0;

  flex-wrap: nowrap;

  @include vp-1220 {
    width: 100%;
    padding: 46px 40px 79px 25px;
  }

  @include vp-770 {
    padding: 17px 25px 80px;
  }
}

.about-company-block img {
  width: 150px;
  height: 320px;
  margin-right: 100px;

  @include vp-1220 {
    margin: 4px 29px 0 21px;
  }

  @include vp-770 {
    display: none;
  }
}

.about-company-block__info {
  display: flex;
  flex-direction: column;
}

.about-company-block__info h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 51px;

  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  color: $color-black-pearl;

  @include vp-1220 {
    margin: 0 0 11px;
  }

  @include vp-770 {
    font-size: 28px;
    line-height: 39px;
    margin: 0 0 12px;
  }
}

.about-company-block__info p {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;

  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  color: $color-black-pearl;

  @include vp-1220 {
    margin: 0 0 20px;
  }

  @include vp-770 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 18px;
  }
}

.about-company-block__info button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;

  width: 180px;
  height: 45px;
  margin-top: 18px;

  cursor: pointer;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-deep-sky-blue;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  background-color: $color-transparent;

  @include vp-1220 {
    margin-top: -4px;
  }

  @include vp-770 {
    width: 160px;
    height: 35px;
  }
}

.about-company-block__info button:hover {
  color: $color-alice-blue;
  background-color: $color-deep-sky-blue;
}
