.about-company {
  margin: 0;
  padding: 90px 10px 30px 10px;
  box-sizing: border-box;
  min-height: 510px;
  background-color: #f8Fdff;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding: 68px 30px 75px 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 47px 17px 47px 18px;
    min-height: 435px;
    justify-content: center;
  }
}

.about-company__wrapper {
  background-image: url("../img/about-company-image.png");
  background-repeat: no-repeat;
  background-position: -1px 0;
  width: 100%;
  max-width: 1220px;

  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }

  @media (max-width: $tablet-width) {
    background-position: -3px 5px;
  }

  @media (max-width: $mobile-width) {
    background-size: 0 0;
    display: flex;
    flex-direction: column;
    width: 95%;
  }
}

.about-company__header {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  margin: 0 0 0 230px;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin: 0 0 0 175px;

    @media (max-width: $mobile-width) {
      margin: 0;
      font-size: 28px;
      line-height: 40px;
    }
  }
}

.about-company__description {
  margin: 0 0 45px 230px;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @media (max-width: $tablet-width) {
    margin: 0 0 0 175px;
    max-width: 495px;
    line-height: 21px;
    margin-bottom: -3px;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    font-size: 14px;
    line-height: 19px;
  }
}

.about-company__button {

  min-height: 45px;
  border: solid 1px #00b2ff;
  background-color: inherit;
  color: #00b2ff;
  border-radius: 3px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 230px;
  cursor: pointer;
  letter-spacing: 1px;

  @media (min-width: $desktop-width) {
    min-width: 180px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 175px;
    width: 180px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    max-width: 160px;
    min-height: 35px;
    padding: 6px;
    margin-top: -1px;
    box-sizing: border-box;
  }
}

.about-company__button {

  &:hover,
  &:focus {
    background-color: #00b2ff;
    color: #f2f5f6;
  }
}