.about-company-block {
  background-color: #f8fdff;
}


.about-company-block__wrapper {
  display: flex;
  flex-direction: row;

  width: 1220px;
  margin: 0 auto;
  padding: 90px 0 118px 0;

  flex-wrap: nowrap;
}

.about-company-block img {
  width: 150px;
  height: 320px;
  margin-right: 100px;
}

.about-company-block__info {
  display: flex;
  flex-direction: column;
}

.about-company-block__info p.is-hidden {
  display: none;
}

.about-company-block__info h3 {
  font-family: 'Roboto Condensed';
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 51px;

  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  color: #041827;
}

.about-company-block__info p {
  font-family: 'PT Mono';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;

  margin: 0;
  margin-bottom: 21px;
  padding: 0;

  color: #041827;
}

.about-company-block__info p:last-of-type {
  margin-bottom: 40px;
}

.about-company-block__info button {
  font-family: 'Roboto Condensed';
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;

  width: 180px;
  height: 45px;

  cursor: pointer;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;

  color: #00b2ff;
  border: 1px solid #00b2ff;
  border-radius: 3px;
  background-color: transparent;
}
