.advantages {
  background-color: #f8f9fc;
}

.advantages__title {
  @include h2;

  text-align: center;
  padding-top: 110px;
  margin: 44px 0 25px;
}

.advantages__wrapper {
  padding: 0 140px 105px;
  display: grid;
  grid-template-columns: 326px 240px 350px;
  gap: 60px 58px;

  &--center {
    background-color: #1c3374;
    color: $color-default-white;
    text-align: center;
    padding: 38px 25px 0 22px;
    margin: 31px 0 30px;
  }

  &--side {
    display: flex;
    flex-direction: column;
    gap: 112px;
  }
}

.advantages__item {
  display: block;
  font-size: 71px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0;
  text-align: left;

  &--gradient {
    color: $color-neon-blue;
    background: linear-gradient(to bottom right, #d10a42  0%, #0041ca 55%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &--color {
    color: $color-default-white;
    text-align: center;
    height: 80px;
  }
}

.advantages__list--wrapper {
  display: flex;
  flex-direction: column;
}

.advantages__item--description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  margin: 0;
  position: relative;
  top: -20px;
}

.advantages__description--center {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0;
  text-align: center;
  margin: 12px 0 18px;
}

.advantages__list {
  display: flex;
  gap: 32px;
  min-height: 125px;

  &--center {
    flex-direction: column;
    gap: 0;
  }
}

.advantages__item--text > h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 7px;
}

.advantages__item--text > p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0;
}

.advantages__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}
