.advantages{
  margin: 0 auto;
  background-color: $color-background-grey;
}

.advantages__wrapper{
  padding-top: 108px;
  padding-right: 172px;
  padding-bottom: 129px;
  padding-left: 172px;
}

.advantages__title{
  font-family: $ff-Alumnisans;
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  color: $color-primary;
  text-align: center;
  margin-bottom: 29px;
}

.advantages__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  column-gap: 54px;
  row-gap:130px;
}
