.advantage-block {
  padding: 120px 0 0 0;

  color: #000;
  background-color: #f8fdff;
}

.advantage-block__list {
  display: flex;
  flex-direction: row;

  width: 1220px;
  margin: 0 auto;
  padding: 0;

  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage-block__item {
  display: flex;
  flex-direction: column;

  width: 595px;
  min-height: 300px;
  margin-bottom: 30px;
  padding: 40px;

  list-style: none;

  color: #041827;
  border: 1px solid #ebebeb;
  border-left: 5px solid #00b2ff;
  background-color: #f8fdff;
}



.advantage-block__item svg {
  width: 35px;
  height: 35px;
  margin-bottom: 21px;

  fill: #00b2ff;
}


.advantage-block__item h3 {
  font-family: 'Roboto Condensed';
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 34px;

  display: flex;

  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  align-items: center;
}

.advantage-block__item p {
  font-family: 'PT Mono';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;

  margin: 0;

  color: #041827;
}
