.btn {
  display: inline-flex;
  padding: 19px 44px;

  color: $color-primary;
  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  // transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
