.btn {
  display: inline-flex;
  justify-content: center;
  padding: 24px 56px;
  margin: 0;
  color: #ffffff;
  border: 4px solid;
  cursor: pointer;
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  @include vp-1199 {
    padding: 24px 33px;
  }
}
