.card {
  padding: 60px 50px 55px 50px;
  border: 7px solid transparent;
  position: relative;
  margin: 0 auto;

  &:hover,
  &:focus {
    padding: 60px 50px 55px 50px;
    border: 7px solid;
    border-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%) 30;

    @include vp-1199 {
      padding: 55px 90px 55px 90px;
    }

    @include vp-767 {
      width: 100%;
      padding: 40px 30px 50px;
    }
  }

  &:default {
    border: none;
  }

  &:active {
    padding: 60px 50px 55px 50px;
    border: 7px solid;
    border-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%) 30;
    position: relative;

    @include vp-1199 {
      padding: 55px 90px 55px 90px;
    }

    @include vp-767 {
      width: 100%;
      padding: 40px 30px 50px;
    }
  }

  @include vp-1199 {
    padding: 55px 90px 55px 90px;
  }

  @include vp-767 {
    width: 100%;
    padding: 40px 30px 50px;
  }
}

.card__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 12px;

  @include vp-374 {
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 9px;
  }
}

.card__period {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.card__preview-price {
  margin: 0;
  color: #e8e8e8;
  width: 203px;
  height: 69px;
  font-size: 100px;
  font-weight: 700;
  line-height: 150px;
  text-align: left;
  padding: 20px 0 0;

  @include vp-1199 {
    padding: 10px 0 0;
  }

  @include vp-767 {
    font-size: 80px;
    font-weight: 700;
    line-height: 120px;
    padding: 10px 0 0 20px;
  }
}

.card__price {
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 0;
  text-align: center;
  color: #103aae;
  margin: 0 0 28px;
  padding-right: 44px;
  position: relative;
  z-index: 1;

  &::after {
    content: attr(data-value);
    position: absolute;
    margin: 0;
    width: 38px;
    height: 46px;
    color: $color-default-black;
    font-family: "Rouble", sans-serif;
    padding: 3px 0 0 18px;
  }

  @include vp-1199 {
    margin-bottom: 31px;

    &::after {
      width: 26px;
      height: 33px;
      padding: 0 0 0 15px;
    }
  }

  @include vp-767 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    top: -14px;
    margin-bottom: 16px;
  }
}

.card__btn {
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $color-default-white;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    border: transparent;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    border: transparent;
    outline: none;
  }

  &:disabled {
    background-color: $color-default-white;
    color: rgba(16, 38, 84, 0.1);
  }

  @include vp-767 {
    margin: 0 auto;
    padding: 22px 40px;
  }
}
