.contacts-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    justify-content: right;
  }
}

.contacts-list__item {
  padding: 0 0 0 30px;
  margin: 0 10px 5px 0;
  height: 21px;
  box-sizing: border-box;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    margin-right: 40px;
    padding: 0;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
  }
}