.contacts {
  margin-bottom: 35px;
}

.contacts__list {
  margin: 0;
  padding: 0;
}

.contacts__title {
  margin: 0;
  margin-top: 22px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  padding-left: 22px;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background: linear-gradient(#c4c4c4, #c4c4c4), linear-gradient(#c4c4c4, #c4c4c4);
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    background-repeat: no-repeat;
    top: 8px;
    right: 22px;
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(180deg);
  }
}

.contacts__item {
  margin-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffffb3;
}

.contacts__link {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffffb3;
}


.is-active .contacts__title {
  &::before {
    transform: scaleY(0) rotate(180deg);
  }
}

@media (min-width: $vp-768) {
  .contacts__title {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 2px;

    &::before,
    &::after {
      display: none;
    }
  }

  .contacts__link {
    font-size: 16px;
    line-height: 25px;
  }

  .contacts__list {
    display: block;
  }

  .contacts__item {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 4px;
  }
}

@media (min-width: $vp-1024) {
  .contacts {
    margin-bottom: 0;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contacts__title {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 4px;
  }


  .contacts__link {
    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      color: $color-deep-sky-blue;
    }
  }
}
