[data-accordion=element].is-active > [data-accordion=content] {
  max-height: 100%;
}

[data-accordion=parent].no-transition [data-accordion=content] {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

[data-accordion=content] {
  max-height: 0;
  -webkit-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
  overflow: hidden;
}