.faq {
  background-color: #f8f9fc;
}

.faq__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 0 0 36px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 48px;
  }

  @include vp-767 {
    font-size: 32px;
    margin: 70px 0 30px 0;
    text-align: center;
  }
}

.faq__wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 122px 104px 117px;

  @include vp-1199 {
    padding: 104px 45px 100px;
  }

  @include vp-767 {
    padding: 20px 15px 40px;
  }
}

.faq__tabs {
  display: flex;
  column-gap: 18px;

  @include vp-1199 {
    flex-direction: column;
  }
}

.faq__controls {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-1199 {
    margin-bottom: 38px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include vp-767 {
    margin: 0 auto 29px;
    gap: 8px;
  }
}

.faq__control {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  margin: 0;
  padding: 17px 0;
  min-height: 54px;
  width: 260px;
  color: $color-default-black;
  background-color: transparent;
  text-transform: none;
  border: 1px solid rgba(16, 38, 84, 0.2);
  cursor: pointer;
  align-items: center;
  display: block;

  &:hover,
  &:focus {
    border-color: $color-default-black;
    color: $color-default-black;
  }

  &:disabled {
    color: #c8c9cc;
  }

  &:active {
    border-color: transparent;
    background: linear-gradient(to right, #ed0233, #003eb7);
    color: $color-default-white;
  }

  @include vp-1199 {
    width: 162px;
  }

  @include vp-767 {
    min-height: 44px;
    padding: 12px 0;
    width: 141px;
    font-size: 16px;
  }
}

.faq__control.is-active {
  padding: 18px 0;
  color: $color-default-white;
  background: linear-gradient(to right, #ed0233, #003eb7);
  border: none;

  @include vp-767 {
    padding: 11px 0;
  }
}

.faq__content {
  width: 880px;

  @include vp-1199 {
    margin: 0 auto;
    width: 688px;
  }

  @include vp-767 {
    width: 290px;
  }
}

.faq__element {
  display: none;
}

.faq__element.is-active {
  display: block;
}
