.feedback-form {
  background-color: #00b2ff;
  min-height: 840px;
  display: flex;
  align-items: start;
  padding-top: 150px;
  justify-content: space-around;

  @media (min-width: $desktop-width) {
    background: linear-gradient(-41deg, #00b2ff 66.6%, rgb(19, 107, 144) 33.4%);
  }

  @media (max-width: $tablet-width) {
    padding-top: 45px;
    min-height: 580px;
  }

  @media (max-width: $mobile-width) {
    min-height: 750px;
  }
}

.feedback-form__fieldset {
  border: 0;
}

.feedback-form__wrapper {
  width: 100%;
  max-width: 1220px;
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding: 0 10px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 10px 0 10px;
  }
}

.feedback-form form {
  width: 100%;

  @media (max-width: $tablet-width) {
    width: 670px;
  }

  @media (max-width: $mobile-width) {
    width: 90%;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/form-image.png");
    background-size: 42% auto;
    background-repeat: no-repeat;
    background-position: -1% 52%;
    display: flex;
    justify-content: end;
  }
}

.feedback-form fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.8fr 0.6fr 1fr 3fr 1fr;
  row-gap: 15px;
  column-gap: 25px;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 580px;

  @media (max-width: $tablet-width) {
    margin: 0;
    max-width: 670px;
    grid-template-rows: 1.5fr 1.2fr 2fr 5fr 1.6fr;
    row-gap: 5px;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.feedback-form h2 {
  color: #ffffff;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  font-family: "PT Mono", "Arial", sans-serif;
  grid-row: 1/2;
  grid-column: 1/3;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-top: -5px;
    margin-left: -2px;
  }



  @media (max-width: $mobile-width) {
    width: 100%;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 5px;
  }
}

.feedback-form p {
  margin: 0 0 35px 0;
  color: #ffffff;
  grid-row: 2/3;
  grid-column: 1/3;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @media (max-width: $tablet-width) {
    padding-top: 3px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 19px;
  }
}

.feedback-form button {
  grid-row: 5/6;
  grid-column: 1/2;
  background-color: #041427;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  text-transform: uppercase;
  height: 45px;
  width: 265px;
  border: 0;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #041427;
  }

  @media (max-width: $tablet-width) {
    max-width: 265px;
    letter-spacing: 1px;
    margin-top: 10px;
    padding-top: 10px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 45px;
    padding: 0 5px;
    margin-bottom: 10px;
  }
}

.feedback-form label {
  grid-row: 5/6;
  grid-column: 2/3;
  margin-top: -2px;
  margin-left: 20px;

  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  position: relative;
  text-align: left;
  padding-left: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 15px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-top: 10px;
    justify-content: start;
    padding-left: 10px;
  }
}

.feedback-form input {
  background-color: #04142726;
  border-radius: 3px;
  border: 0;
  padding: 0 15px;
  box-sizing: border-box;
  height: 50px;
  width: 100%;

  @media (max-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    height: 50px;
    padding-left: 13px;
  }
}

.feedback-form textarea {
  background-color: #04142726;
  border-radius: 3px;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  grid-row: 4/5;
  grid-column: 1/3;
  display: flex;
  padding: 25px 20px 40px 15px;
  box-sizing: border-box;
  height: 155px;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    padding: 30px 20px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
    width: 100%;
    height: 180px;
    padding-top: 25px;
    padding-left: 13px;
  }
}

.feedback-form input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.feedback-form input::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.feedback-form input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.feedback-form textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.feedback-form textarea::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.feedback-form textarea:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.feedback-form label input {
  width: 1px;
  height: 1px;
  margin: 0 15px 0 0;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-right: 15px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 20px 0 0;
    width: 1px;
    height: 1px;
  }
}

.feedback-form label p {
  color: hsla(0, 0%, 100%, 0.8);
  line-height: 16px;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 14px;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.feedback-form label span {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: #00b2ff;
  box-sizing: border-box;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: $tablet-width) {
    left: -10px;
    top: 45%;
  }

  @media (max-width: $mobile-width) {
    left: 0;
    width: 14px;
    height: 13px;
    left: 5px;
    border: 1px solid #ffffff;
  }
}

.feedback-form label input:checked+.main-form-checkbox__mark {
  background-image: url("../img/svg/checkbox-mark.svg");
  background-size: 12px 9px;
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-form label:hover,
.feedback-form label:focus {
  opacity: 0.7;
}

.feedback-form label input:focus+.main-form-checkbox__mark {
  background-color: #333333;
}

.feedback-form label input:hover+.main-form-checkbox__mark {
  background-color: #333333;
}