.feedback {
  width: 100%;
    background-color: $color-deep-sky-blue;
    display: flex;
    justify-content: center;
    padding-top: 170px;
    padding-bottom: 250px;
    position: relative;

    @include vp-1023 {
      padding-top: 50px;
      padding-bottom: 125px;
    }

    @include vp-767 {
    padding-bottom: 90px;
    }
}

.feedback__section {
  display: flex;
    width: 1220px;
    justify-content: flex-end;

    @include vp-1279 {
      width: 944px;
    }

    @include vp-1023 {
    max-width: 924px;
    display: block;
    padding: 0 50px;
    width: 100%;
    }

    @include vp-767 {
      padding: 0 25px;
    }
}

.feedback h2 {
  @include roboto(400, 36px, 51px, $color-default-white);
  margin: 0;
}

.feedback p {
  @include ptmono(400, 16px, 22px, $color-default-white);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 37px;
}

.feedback::before {
  content: url("../img/polygon1.png");
  position: absolute;
  top: -75px;
  left: 0;

  @include vp-1023 {
    display: none;
  }
}

.feedback__wrapper {
  position: relative;
}

.feedback__wrapper::before {
  content: url("../img/airplane.png");
  position: absolute;
  top: 76px;
  left: -107%;

  @include vp-1279 {
    left: -84%;
  }

  @include vp-1023 {
    display: none;
  }
}

.feedback-form__fieldset {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  border: none;
  padding: 0;

    @include vp-1023 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50px 155px;
      gap: 20px;
      max-width: 924px;
  }

  @include vp-767 {
    min-width: 270px;
    grid-template-rows: 50px 50px 180px;
    gap: 20px;
  }
}
.name {
  @include vp-767 {
    grid-column: 1 / 4;
  }
}

.name__input {
  width: 275px;
  height: 50px;
  @include input;
  margin-right: 30px;
  margin-bottom: 20px;

  @include vp-1023 {
    width: 100%;
  }
}

.phone {
  @include vp-767 {
    grid-column: 1/4;
    grid-row: 2 / 3;
  }
}

.phone__input {
  width: 275px;
  height: 50px;
  @include input;

  @include vp-1023 {
    width: 100%;
  }
}

.question {
  @include vp-1023 {
    grid-column: span 2;
  }

  @include vp-767 {
    grid-column: span 3;
  }
}

.question__text {
  width: 580px;
  height: 155px;
  @include input;
  padding-top: 20px;

  @include vp-1023 {
    width: 100%;
  }
}

.question__text::placeholder {
  align-self: flex-end;
}

.agreement {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  border: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;

  @include vp-767 {
    justify-content: center;
  }
}

.control {
  width: 250px;
  position: relative;

  @include vp-767 {
    width: 235px;
  }
}

.button-send {
  width: 265px;
  min-height: 45px;
  background-color: $color-default-black;
  @include roboto(700, 16px, 19px, $color-default-white);
  margin-right: 50px;
  margin-top: 27px;
  text-transform: uppercase;
  border-radius: 3px;

  @include vp-767 {
    width: 270px;
    margin-right: 50px;
  }
}

.control-mark {
  width: 15px;
  height: 15px;
  position: absolute;
  left: -26px;
  top: 25px;
background-color: $color-deep-sky-blue;
border: 1px solid $color-default-white;

&:hover {
  background-color: $color-light-sky-blue;
}

&:active {
  background-color: $color-light-sky-blue;
  opacity: 0.3;
}
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content: url("../img/svg/checkbox.svg");
  position: absolute;
  top: -7px;
  left: 2px;

}
.control-label {
  @include ptmono(400, 16px, 22px, $color-default-white);
}

::placeholder {
  @include ptmono(400, 16px, 22px, $color-default-white);
}
