.footer {
  background-color: #030a1a;
  min-height: 108px;

  @include vp-374 {
    min-height: 260px;
  }
}

.footer__wrapper {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  padding: 0 20px 0 40px;

  @include vp-767 {
    justify-content: space-around;
    padding: 0;
    margin: 0;
    gap: 10px;
  }

  @include vp-374 {
    flex-direction: column;
  }
}

.footer__wrapper--nav {
  @include vp-374 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 90px;
    flex-wrap: wrap;
  }
}

.footer__logo {
  display: block;
  position: relative;
  top: 53px;
  left: 30px;
  width: 88px;
  height: 32px;

  @include vp-767 {
    width: 82px;
    height: 18px;
    top: 50px;
    left: 14px;
  }

  @include vp-374 {
    width: 68px;
    height: 15px;
    top: 6px;
    left: -2px;
  }
}
