.footer-navigation {
  width: 470px;
  margin-right: 20px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    width: 220px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 26px;
    border-bottom: solid 1px #f8fdffb2;
    width: 100%;
    margin: 0;
    min-height: 60px;
  }
}

.footer-navigation__header {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "PT Mono", "Arial", sans-serif;
  letter-spacing: 1px;

  @media (max-width: $mobile-width) {
    margin: 0;
    padding: 22px 0;
  }
}

.footer-navigation__list {
  padding: 0;

  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 500px;


  @media (max-width: $tablet-width) {
    width: 220px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 130px;
    column-width: 200px;
    column-count: 2;
    column-gap: 4%;
    width: 470px;
  }
}

.navigation-item:last-child {
  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.footer-navigation-list__item {
  @media (min-width: $desktop-width) {
    height: auto;
    margin: 0;
  }
}

.footer-navigation__navigation {
  @media (max-width: $mobile-width) {
    display: block;
    margin-top: 10px;
  }
}

.footer-navigation__navigation--closed {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.footer-navigation__button--open {
  top: 0;
  right: 0;
  border: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: transparent;

  @media (min-width: $mobile-width) {
    display: none;
  }
}

.footer-navigation__button--open::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 3px;
  width: 16px;
  height: 1px;
  background-color: #c4c4c4;
}

.footer-navigation__button--open::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 10px;
  width: 1px;
  height: 17px;
  background-color: #c4c4c4;
}

.footer-navigation__button--close {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.footer-navigation__button--close::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 3px;
  width: 16px;
  height: 1px;
  background-color: #ffffff;
}