.footer {
  background-color: $color-black-pearl;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 280px;

    @include vp-1279 {
      height: auto;
    }

    @include vp-1023 {
      width: auto;
    }
}

.footer__container {
  display: flex;
    width: 1220px;
    justify-content: space-between;
    padding-top: 50px;

    @include vp-1279 {
      width: 100%;
      padding: 50px 40px;
    }

    @include vp-1023 {
      flex-direction: column;
    }

    @include vp-767 {
      padding: 0;
    }
}


.social {
  display: flex;
  align-self: flex-start;
  flex-direction: column;

  @include vp-1023 {
    width: 100%;
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.social__section {
  @include vp-1023 {
    display: flex;
    justify-content: space-between;

    @include vp-767 {
      padding-top: 35px;
      padding-bottom: 30px;
    }
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

.logo__footer {

  @include vp-1023 {
  display: flex;
  justify-content: center;
}
}

.social__list {
  display: flex;
  margin-top: 30px;

  @include vp-1023 {
    margin: 0;
  }

  @include vp-767 {
    grid-template-columns: 30px 30px 30px;
    gap: 25px;
  }
}

.social__item {
  margin-left: 20px;

  @include vp-767 {
    margin: 0;
  }
}

.social-link__svg {
  @include hover {
    fill: $color-deep-sky-blue;
  }

  @include focus {
    fill: $color-deep-sky-blue;
  }

  @include active {
    fill: $color-light-sky-blue;
  }
}

.group {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  @include vp-1023 {
    display: flex;
    justify-content: space-between;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.navigation {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 450px;

  @include vp-1279 {
    width: 220px;
  }

  @include vp-767 {
    width: 100%;
    position: relative;
  }
}

.navigation::before {
  @include vp-767 {
  position: absolute;
  content: "";
  border: 1px solid rgba(248, 253, 255, 0.7);
  width: 100%;
  top: 0px;
}
}

.navigation::after {
  @include vp-767 {
    position: absolute;
    content: "";
    border: 1px solid rgba(248, 253, 255, 0.7);
    bottom: 0;
    width: 100%;
  }
}

.navigation__list {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 220px;
    height: 130px;

    @include vp-1279 {
      height: auto;
    }

    @include vp-767 {
      width: auto;
    }
}

.no-js {
  display: flex;
  @include vp-767 {
    display: block;
  }
}

.is-open {
  display: flex;
  @include vp-767 {
  display: block;
}
}

.is-closed {
  display: none;
}

.navigation__first {
  margin-right: 30px;
    display: flex;
    flex-direction: column;
    width: 220px;

    @include vp-767 {
      width: auto;
    }
}

.navigation__section {
  margin-left: -52px;

  @include vp-767 {
    margin: 0;
    padding: 20px 25px;
  }
}

.navigation__section h2 {
  @include roboto(400, 15px, 16px, $color-default-white);
  text-transform: uppercase;
}
.navigation__item {
  padding-bottom: 6px;
}

.navigation__link {
  @include ptmono(400, 16px, 135%, $color-default-white);
  opacity: 0.7;
  padding-bottom: 20px;

  @include hover {
    color: $color-deep-sky-blue;
  }

  @include focus {
    color: $color-deep-sky-blue;
  }

  @include active {
    color: $color-light-sky-blue;
  }
}

.contacts {
  display: flex;
  align-self: flex-start;
  flex-direction: column;

  @include vp-767 {
    position: relative;
    margin-bottom: 35px;
    width: 100%;
    padding: 20px 25px;
  }
}

.contacts__section {
  @include roboto(400, 15px, 16px, $color-default-white);
  text-transform: uppercase;
  width: 345px;

  @include vp-767 {
    width: auto;
  }
}

.contacts::after {
  @include vp-767 {
    position: absolute;
    content: "";
    border: 1px solid rgba(248, 253, 255, 0.7);
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.contacts__section h2 {
  @include roboto(400, 15px, 16px, $color-default-white);
  text-transform: uppercase;
}

.contacts-address {
  @include ptmono(400, 16px, 135%, $color-default-white);
  opacity: 0.7;
  text-decoration: none;
  text-transform: initial;
  padding-bottom: 10px;
}

.tel-list {
  display: flex;
  flex-direction: column;
}

.contacts-tel {
  @include ptmono(400, 16px, 135%, $color-default-white);
  opacity: 0.7;
  text-decoration: none;
  padding-bottom: 10px;

  @include hover {
    color: $color-deep-sky-blue;
  }

  @include focus {
    color: $color-deep-sky-blue;
  }

  @include active {
    color: $color-light-sky-blue;
  }
}

.plus-button {
  display: none;

  @include vp-767 {
    position: relative;
    width: 15px;
    height: 15px;
    border: none;
    background-color: $color-transparent;
    cursor: pointer;
  }
}

.navigation__header,
.contacts__header {
  @include vp-767 {
    display: flex;
    justify-content: space-between;
  }
}

.plus-button::before {
  position: absolute;
    content: "";
    border: 1px solid rgba(248, 253, 255, 0.7);
    bottom: 0;
    left: 0;
    width: 15px;
}

.plus-button::after {
  position: absolute;
    content: "";
    border: 1px solid rgba(248, 253, 255, 0.7);
    bottom: 0;
    left: 0;
    width: 15px;
    transform: rotate(90deg);
}

.minus-button {
  display: none;
  @include vp-767 {
    position: relative;
    width: 15px;
    height: 15px;
    border: none;
    background-color: $color-transparent;
    cursor: pointer;
  }
}

.minus-button::before {
  position: absolute;
    content: "";
    border: 1px solid rgba(248, 253, 255, 0.7);
    bottom: 0;
    left: 0;
    width: 15px;
}

.hide {
display: none;

@include vp-767 {
  display: none;
}
}

.show {
  display: none;

  @include vp-767 {
  display: block;
  }
}
