.footer-navigation-list {
  list-style-type: none;

  min-height: 130px;
}

.footer-navigation-list__item {
  margin: 0 0 10px 0;
  font-family: inherit;


  @media (min-width: $desktop-width) {
    min-height: 31px;
    display: flex;
    align-items: center;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 8px;
  }
}