.footer-container {
  background-color: #041827;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;

  @media (max-width: $tablet-width) {
    padding-right: 15px;
    box-sizing: border-box;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}

.footer-container__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 48px 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;

  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    padding: 40px 20px 30px 48px;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    padding: 0 0 40px 0;
  }
}

.footer-container__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #f2f5f6;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin-right: 11%;
  margin-left: -23px;

  @media (min-width: $desktop-width) {
    margin-top: 3px;
  }


  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0;
  }
}