.form-contacts {
  border-top: 1px solid $color-default-black;
}

.form-contacts__wrapper {
  margin: 0;
  display: flex;
  max-width: 1366px;
  width: 100%;

  @include vp-1199 {
    flex-direction: column;
  }
}
