.free-classe{
  padding-top: 54px;
  padding-right: 156px;
  padding-bottom: 70px;
  padding-left: 103px;
  background-color: $color-primary;
}

.free-classe__title{
  font-family: $ff-Alumnisans;
  font-size: 36px;
  font-weight: 800;
  line-height: 1.56;
  letter-spacing: 2.32px;
  color: $color-default-white;
  padding-bottom: 11px;
}
