.gim {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
  gap: 55px;

  @include vp-1199 {
    flex-direction: column;
    left: 0;
  }
}

.gim__wrapper {
  width: 355px;
  min-height: 314px;
  padding: 50px 0;
  display: block;
  position: relative;
  top: 68px;
  left: 75px;

  @include vp-1199 {
    width: 502px;
    top: 50px;
    left: 117px;
    padding-bottom: 0;
  }

  @include vp-767 {
    width: 300px;
    top: 15px;
    left: -20px;
  }
}

.gim__title {
  @include title;

  line-height: 58px;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 0;
  padding: 40px 0 0;

  @include vp-1199 {
    padding: 0 120px 0 105px;
    min-width: 261px;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
    padding: 0 0 5px 20px;
  }
}

.gim__description {
  @include h4;

  text-align: left;
  margin: 0;
  padding: 7px 0 35px;

  @include vp-1199 {
    text-align: center;
    padding: 0 0 20px;
  }

  @include vp-767 {
    width: 300px;
    padding: 0 0 10px 20px;
  }
}

.gim__detail {
  @include h5;

  font-weight: 300;
  text-align: left;
  letter-spacing: -0.01em;

  @include vp-1199 {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
  }

  @include vp-767 {
    text-align: left;
    padding: 0 60px 0 20px;
  }
}

.gim__detail:last-of-type {
  @include vp-1199 {
    display: none;
  }
}

.gim__media {
  display: block;
  margin: 0;
  padding: 10px 0;
  height: 650px;

  @include vp-1199 {
    height: 380px;
  }

  @include vp-767 {
    height: 550px;
    padding: 10px;
  }
}

.gim__photo {
  width: 660px;
  height: 401px;
  margin: 0;
  display: block;
  position: relative;
  top: 110px;
  left: -12px;
  background: url("/img/gim/main.jpg") no-repeat 85%;
  background-size: cover;

  @include vp-1199 {
    width: 678px;
    height: 345px;
    top: -52px;
    left: 30px;
  }

  @include vp-767 {
    width: 320px;
    height: 313px;
    top: -55px;
    left: -26px;
  }
}

.gim__video {
  margin: 0;
  display: block;
  position: relative;
  top: -103px;
  left: -75px;
  width: 364px;
  height: 228px;
  background: linear-gradient(to right, rgba(20, 54, 122, 0.5), rgba(20, 54, 122, 0.5)), url("/img/gim/video.jpg") no-repeat 85%;
  background-size: cover;

  @include vp-1199 {
    width: 266px;
    height: 167px;
    top: -210px;
    left: 236px;
  }

  @include vp-767 {
    width: 320px;
    height: 167px;
    top: -90px;
    left: -26px;
  }
}

.gim__play {
  content: url("/img/gim/play.png");
  width: 100px;
  height: 100px;
  margin: 0;
  display: block;
  z-index: 2;
  position: relative;
  top: 62px;
  left: 55px;

  @include vp-1199 {
    width: 73px;
    height: 73px;
    top: -92px;
    left: 332px;
  }

  @include vp-767 {
    width: 73px;
    height: 73px;
    top: 32px;
    left: 100px;
  }
}
