.goods-services-block {
  display: flex;
  flex-direction: column;

  padding: 66px 0 140px;

  background: $color-black-pearl;

  align-items: center;

  @include vp-1220 {
    padding: 56px 50px 45px;
  }

  @include vp-770 {
    padding: 47px 25px 56px;
  }
}

.goods-services-block h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 51px;

  width: 1220px;
  margin: 0 0 53px 0;
  padding: 0;

  color: $color-default-white;

  @include vp-1220 {
    width: 100%;
    margin: 0 0 37px;
  }

  @include vp-770 {
    font-size: 28px;
    line-height: 39px;
    width: 200px;
    align-self: self-start;
    margin: 0 0 29px;
  }
}

.goods-services-block .tablet-and-more-device {
  @include vp-770 {
    display: none;
  }
}

.goods-services-block .mobile-device {
  display: none;

  @include vp-770 {
    display: inherit;
  }
}

.goods-services-block__list {
  display: flex;
  flex-direction: row;

  width: 1220px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;

  @include vp-1220 {
    width: 100%;
    justify-content: space-around;
  }
}

.goods-services-block__item {
  width: 350px;
  min-height: 650px;

  @include vp-1220 {
    width: 100%;
    margin-right: 0;
    min-height: 250px;
    margin-bottom: 30px;
  }
}

.goods-services-block__item:not(:nth-child(3n+3)) {
  margin-right: 85px;

  @include vp-1220 {
    margin-right: 0;
  }
}

.goods-services-block__item a {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;

  position: relative;

  display: block;

  width: 100%;
  height: 100%;
  padding: 47px 140px 47px 40px;

  color: $color-default-white;
  background-color: $color-deep-sky-blue;

  @include vp-1220 {
    padding: 37px 476px 37px 45px;
  }

  @include vp-770 {
    font-size: 18px;
    line-height: 30px;
    padding: 26px 105px 26px 30px;
  }
}

.goods-services-block__item a::before {
  position: absolute;
  right: 1px;
  bottom: 0;

  display: block;

  width: 60px;
  height: 60px;

  content: "";

  border-radius: 3px 0 0 0;
  background: $color-deep-sky-blue;

  @include vp-1220 {
    right: 0;
  }

  @include vp-770 {
    width: 40px;
    height: 40px;
  }
}

.goods-services-block__item a:hover::before {
  background: $color-alice-blue;
}

.goods-services-block__item a::after {
  position: absolute;
  right: 27px;
  bottom: 28px;

  display: block;

  width: 6px;
  height: 6px;

  content: "";
  transform: rotate(-45deg);

  border: 1px solid $color-alice-blue;
  border-top: $color-transparent;
  border-left: $color-transparent;
  border-radius: 1px;
  background-color: $color-transparent;

  @include vp-1220 {
    right: 26px;
    bottom: 27px;
  }

  @include vp-770 {
    right: 17px;
    bottom: 17px;
    width: 5px;
    height: 5px;
  }
}

.goods-services-block__item a:hover::after {
  border: 1px solid $color-deep-sky-blue;
  border-top: $color-transparent;
  border-left: $color-transparent;
}


.goods-services-block__item:nth-child(3n+1) a {
  background: url("../img/goods-service-block__item_img-1.png") no-repeat 0 0;
  background-size: contain;

  @include vp-1220 {
    background: url("../img/goods-service-block__item_img-tablet-1.png") no-repeat 0 0;
    background-size: cover;
  }

  @include vp-770 {
    background: url("../img/goods-service-block__item_img-mobile-1.png") no-repeat 0 0;
    background-size: cover;
  }
}

.goods-services-block__item:nth-child(3n+2) a {
  background: url("../img/goods-service-block__item_img-2.png") no-repeat 0 0;
  background-size: contain;

  @include vp-1220 {
    background: url("../img/goods-service-block__item_img-tablet-2.png") no-repeat 0 0;
    background-size: cover;
  }

  @include vp-770 {
    background: url("../img/goods-service-block__item_img-mobile-2.png") no-repeat 0 0;
    background-size: cover;
  }
}

.goods-services-block__item:nth-child(3n+3) a {
  background: url("../img/goods-service-block__item_img-3.png") no-repeat 0 0;
  background-size: contain;

  @include vp-1220 {
    background: url("../img/goods-service-block__item_img-tablet-3.png") no-repeat 0 0;
    background-size: cover;
  }

  @include vp-770 {
    background: url("../img/goods-service-block__item_img-mobile-3.png") no-repeat 0 0;
    background-size: cover;
  }
}
