.goods-services-block {
  display: flex;
  flex-direction: column;

  padding: 66px 0 140px;

  background: #041827;

  align-items: center;
}

.goods-services-block h3 {
  font-family: 'Roboto Condensed';
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 51px;

  width: 1220px;
  margin: 0 0 53px 0;
  padding: 0;

  color: #fff;
}

.goods-services-block__list {
  display: flex;
  flex-direction: row;

  width: 1220px;
  margin: 0 auto;
  margin: 0;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
}

.goods-services-block__item {
  width: 350px;
  min-height: 650px;
}

.goods-services-block__item:not(:nth-child(3n+3)) {
  margin-right: 85px;
}

.goods-services-block__item a {
  font-family: 'Roboto Condensed';
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;

  position: relative;

  display: block;

  width: 100%;
  height: 100%;
  padding: 47px 40px;

  color: #fff;
}

.goods-services-block__item a::before {
  position: absolute;
  right: 1px;
  bottom: 0;

  display: block;

  width: 60px;
  height: 60px;

  content: '';

  border-radius: 3px 0 0 0;
  background: #00b2ff;
}

.goods-services-block__item a::after {
  position: absolute;
  right: 27px;
  bottom: 28px;

  display: block;

  width: 6px;
  height: 6px;

  content: '';
  transform: rotate(-45deg);

  border: 1px solid #fff;
  border-top: transparent;
  border-left: transparent;
  border-radius: 1px;
  background-color: transparent;
}


.goods-services-block__item:nth-child(3n+1) a {
  background: url(../../img/goods-service-block__item_img-1.png) no-repeat 0 0;
  background-size: contain;
}

.goods-services-block__item:nth-child(3n+2) a {
  background: url(../../img/goods-service-block__item_img-2.png) no-repeat 0 0;
  background-size: contain;
}

.goods-services-block__item:nth-child(3n+3) a {
  background: url(../../img/goods-service-block__item_img-3.png) no-repeat 0 0;
  background-size: contain;
}
