.header {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__image-desktop {
  display: none;
}

.header__link {
  padding-top: 15px;
  padding-bottom: 20px;
}

.header__btn {
  display: none;
}

@media (min-width: $vp-768) {
  .header__image-desktop {
    display: block;
  }

  .header__image-mobile {
    display: none;
  }

  .header__link {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

@media (min-width: $vp-1024) {
  .header {
    position: fixed;
    z-index: 5;
    top: 0;
  }

  .header__link {
    padding-top: 29px;
    padding-bottom: 35px;
  }

  .header__image-desktop {
    &:hover,
    &:focus,
    &:active {
      opacity: 0.3;
    }
  }

  .header__btn {
    display: block;
    border: 1px solid #f2f5f7;
    border-radius: 3px;
    background-color: transparent;
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-right: 61px;
    margin-bottom: 7px;
  }
}
