.hero {
  display: block;
  position: relative;
  min-height: 658px;
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);


  @include vp-767 {
    min-height: 554px;
  }

  @include vp-374 {
    min-height: 491px;
  }
}

.hero__photo {
  position: absolute;
  top: 50px;
  right: 218px;
  width: 500px;
  height: 556px;
  background: url("/img/hero/hero-man.jpg") no-repeat center;
  background-size: cover;

  @include vp-767 {
    width: 324px;
    height: 390px;
    top: 80px;
    right: 45px;
  }

  @include vp-374 {
    display: none;
  }
}

.hero__title {
  font-family: "Alumni Sans", sans-serif;
  font-size: 92px;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: 0.05em;
  text-align: right;
  color: #ffffff;
  text-transform: uppercase;
  width: 298px;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  top: 235px;
  left: 198px;
  text-shadow: 2px 0 2px #ffffff;


  @include vp-767 {
    font-size: 72px;
    line-height: 86px;
    width: 235px;
    font-weight: 700;
    top: 180px;
    left: 135px;
    text-transform: none;
  }

  @include vp-374 {
    width: 213px;
    text-align: right;
    left: 95px;
    top: 155px;
  }
}

.hero__sity {
  color: #ffffff;
  font-family: "Alumni Sans", sans-serif;
  font-size: 38px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  display: block;
  width: 133px;
  position: relative;
  margin: 0;
  padding: 0;
  left: 366px;
  top: -55px;
  text-shadow: 2px 0 2px #ffffff;

  @include vp-767 {
    letter-spacing: 0.05em;
    font-size: 30px;
    line-height: 41px;
    left: 306px;
    top: -40px;
  }

  @include vp-374 {
    width: 51px;
    top: -63px;
    left: 254px;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.03em;
  }
}

.hero__list {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 113px;
  top: 78px;
  left: 122px;

  @include vp-767 {
    left: 45px;
    top: 55px;
  }

  @include vp-374 {
    top: 25px;
    left: 15px;
  }
}

.hero__btn {
  display: block;
  width: 235px;
  height: 62px;
  background-color: transparent;
  border: $color-default-white solid 4px;
  position: relative;
  top: 162px;
  left: 265px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: center;

  @include vp-767 {
    width: 185px;
    top: 112px;
    left: 185px;
  }

  @include vp-374 {
    width: 290px;
    top: 80px;
    left: 15px;
  }
}
