.introduce-name__header {
  font-size: 25px;
  line-height: 29px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  margin: 0 0 5px 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.introduce-name__description {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    letter-spacing: 1px;
  }
}

.introduce-name {
  margin: 0 0 0 15px;
  min-width: 145px;

  @media (max-width: $tablet-width) {
    margin-right: auto;
  }
}
