.input-message {
  position: absolute;
  left: 0;
  bottom: -9px;
  color: #041827;
  font-size: 10px;

}

.input-container {
  position: relative;
}

.modal-input-container .input-message {
  bottom: -2px;
}

.modal-input-container {
  position: relative;
}

.modal-input-checkbox-container .input-message {
  bottom: -15px;
}