.main-block {
  position: relative;
}

.main-block__text.container {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 190px;
  margin-top: -75px;
}

.main-block__title {
  padding: 0;
  margin: 0;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $color-alice-blue;
  margin-bottom: 5px;
}

.main-block__description {
  font-family: $ff-ptmono;
  color: $color-alice-blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  margin: 0 0 45px;
}

.main-block__link-full {
  display: none;
}

.main-block__link {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-alice-blue;
  background-color: $color-deep-sky-blue;
  border-radius: 3px;
  align-self: center;
  padding: 12px 36px;
}

.main-block__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $color-black-pearl;
}

.main-block__link-short {
  align-self: flex-start;
}

@media (min-width: $vp-768) {
  .main-block__link {
    align-self: start;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 27px 19px;
    margin-left: 46px;
  }

  .main-block__link-full {
    display: block;
  }

  .main-block__link-short {
    display: none;
  }

  .main-block__description {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 58px;
  }

  .main-block__title {
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  .main-block__text.container {
    margin-top: -100px;
    margin-bottom: 80px;
    padding-top: 180px;
    padding-bottom: 205px;
  }
}

@media (min-width: $vp-1024) {
  .main-block__title {
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 35px;
  }

  .main-block__description {
    font-size: 22px;
    max-width: 655px;
    margin-bottom: 44px;
  }

  .main-block__link {
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background: $color-deep-sky-blue;
    border-radius: 3px;
    padding: 17px 27px;
    align-self: flex-start;
    margin-left: 0;
  }

  .main-block__image {
    height: 980px;
  }

  .main-block__text.container {
    margin-bottom: 120px;
    padding-top: 404px;
    padding-left: 165px;
    padding-bottom: 280px;
  }

  .main-block__link--full {
    margin-left: 0;
  }
}
