.main-header {
  background-color: #041827;
  color: #f2f5f6;
  min-width: 100%;
  height: auto;

  box-sizing: border-box;
  box-shadow: 0 20px 10px #041827,
    20px 20px 10px 15px #041827,
    -20px 20px 10px 20px #041827;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $desktop-width) {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    padding-left: 10px;
  }

  @media (max-width: $tablet-width) {
    justify-content: space-between;

    box-shadow: 0 10px 20px #041827;
  }

  @media (max-width: $mobile-width) {
    justify-content: space-between;
    box-shadow: 0 10px 10px #041827;
  }
}

.main-header__wrapper {
  display: flex;
  text-align: left;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 10px 20px #041827;
  max-width: 1225px;
  padding: 30px 65px 0 0;
  margin: 0 auto;

  min-height: 100px;
  height: auto;
  width: 100%;
  z-index: 4;
  min-height: 70px;

  @media (max-width: $tablet-width) {
    padding: 20px 40px 20px 50px;
    min-height: 100px;
    box-shadow: 0 10px 20px #041827;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 5px 10px 25px;
    box-shadow: 0 10px 10px #041827;
    min-height: 70px;
  }
}

.main-header__introduce {
  margin: 0px 8% 0 0;
  padding: 0 30px 0 0;
  box-sizing: border-box;
  width: 215px;
  height: 55px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @media (max-width: $mobile-width) {
    margin-top: -5px;
    height: 35px;
    width: 50px;
  }
}

.main-header__contacts {
  margin-right: 7.4%;
  padding: 0 0 0 0;
  box-sizing: border-box;
  width: 465px;
  display: flex;
  flex-direction: row;


  @media (max-width: $tablet-width) {
    margin-right: 0;
    min-width: 90px;
    max-width: 300px;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    margin-top: -7px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    max-width: 70%;
    justify-content: right;
  }
}

.main-header__button {
  min-height: 40px;
  margin: auto 0;
  width: 160px;
  padding: 12px 10px;
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
  border: 1px solid #f2f5f6;
  border-radius: 3px;
  margin-top: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Roboto Condensed", "Arial", sans-serif;



  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #041427;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}