.main-block {
  min-height: 776px;
  margin-top: -18px;

  background: #041827 url(../img/main_background.jpg) no-repeat 0 0;
}

.main-block__wrapper {
  width: 970px;
  margin: 0 auto 0;
  padding: 202px 0 0;
}

.main-block__wrapper h2 {
  font-family: 'Roboto Condensed';
  font-size: 80px;
  font-weight: 700;
  font-style: normal;
  line-height: 94px;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  letter-spacing: .07em;
  letter-spacing: 6.1px;
  text-transform: uppercase;

  color: #f2f5f7;
}

.main-block__wrapper p {
  font-family: 'PT Mono';
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 34px;

  margin: 0;
  margin-bottom: 47px;
  padding: 0;

  color: #f2f5f7;
}

.main-block__wrapper button {
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;

  padding: 15px 29px 19px;

  cursor: pointer;
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;

  color: #f2f5f7;
  border: none;
  border-radius: 3px;
  background-color: #00b2ff;
}
