.main-block {
  min-height: 776px;
  margin-top: -18px;

  background: $color-black-pearl url("../img/main_background.jpg") no-repeat 0 0;

  @include vp-1220 {
    min-height: auto;
    margin-top: -15px;
    background: $color-black-pearl url("../img/main_background-tablet.png") no-repeat 0 98%;
    background-size: cover;
  }
}

.main-block__wrapper {
  width: 970px;
  margin: 0 auto 0;
  padding: 202px 0 0;

  @include vp-1220 {
    width: 100%;
    padding: 94px 0 204px 50px;
  }

  @include vp-770 {
    padding: 96px 0 189px 25px;
  }
}

.main-block__wrapper h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 80px;
  font-weight: 700;
  font-style: normal;
  line-height: 94px;

  margin: 0 0 30px 0;
  padding: 0;

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: $color-alice-blue;

  @include vp-1220 {
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  @include vp-770 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 7px;
  }
}

.main-block__wrapper .tablet-and-more-device {
  @include vp-770 {
    display: none;
  }
}

.main-block__wrapper .mobile-device {
  display: none;

  @include vp-770 {
    display: inherit;
  }
}

.main-block__wrapper p {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 34px;

  width: 650px;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;

  color: $color-alice-blue;

  @include vp-1220 {
    margin: 0 0 57px;
    width: auto;
    max-width: 650px;
  }

  @include vp-770 {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 45px;

    width: 100%;
  }
}

.main-block__wrapper button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;

  padding: 15px 29px 19px;

  cursor: pointer;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-alice-blue;
  border: none;
  border-radius: 3px;
  background-color: $color-deep-sky-blue;

  @include vp-1220 {
    margin: 0 0 0 45px;
    padding: 0 0 0 0;
    width: 410px;
    height: 55px;
  }

  @include vp-770 {
    width: 270px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto;
  }
}

.main-block__wrapper button:hover {
  color: $color-deep-sky-blue;
  background-color: $color-alice-blue;
}
