.memberships {
  background-color: #f8f9fc;
  display: flex;
  position: relative;
  margin-top: 105px;

  @include vp-374 {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.memberships::after {
  content: "";
  background: url("/img/memberships/membership-equipment.png") no-repeat;
  position: absolute;
  width: 321px;
  height: 384px;
  z-index: 0;
  right: 0;
  bottom: -98px;
  background-position: right;


  @include vp-767 {
    background: url("/img/memberships/membership-equipment-tablet.png") no-repeat;
    bottom: -118px;
    right: 5px;
    rotate: 359deg;
    background-size: cover;
  }

  @include vp-374 {
    display: none;
  }
}

.memberships__wrapper {
  margin: 0 auto;
  padding: 120px 53px 120px;
  z-index: 1;
  width: 100%;
  max-width: 1366px;

  @include vp-767 {
    padding: 66px 15px 70px;
  }

  @include vp-374 {
    padding: 24px 5px 74px;
  }
}

.memberships__title {
  @include title;

  margin: 0 0 22px;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-767 {
    padding: 35px 12px 0 0;
  }

  @include vp-374 {
    margin-top: 0;
  }
}

.memberships__controls {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  width: 422px;
  top: -15px;
  gap: 5px;

  &::after {
    position: absolute;
    content: "";
    bottom: 22px;
    left: 54%;
    width: 304px;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
    transform: translate(-50%, 0);
  }

  @include vp-767 {
    gap: 35px;
    padding-top: 5px;
    top: -10px;

    &::after {
      bottom: 30px;
    }
  }

  @include vp-374 {
    width: 310px;
    gap: 25px;
    top: -10px;

    &::after {
      bottom: 21px;
      width: 270px;
    }
  }
}

.memberships__control {
  margin: 5px 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  color: $color-default-black;
  background-color: transparent;
  border: none;
  text-transform: none;
  padding: 5px 10px;

  @include vp-767 {
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
  }

  @include vp-374 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    min-height: 55px;
  }
}

.memberships__control.is-active {
  color: $color-default-black;

  &::after {
    position: absolute;
    content: "";
    bottom: 15px;
    width: calc(100% + 8px);
    height: 2px;
    background-color: #d10a42;
  }

  @include vp-767 {
    &::after {
      left: -2px;
      width: calc(100% + 8px);
      bottom: 26px;
    }
  }

  @include vp-374 {
    &::after {
      left: -2px;
      width: calc(100% + 8px);
      bottom: 17px;
    }
  }
}

.memberships__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-767 {
    margin: 0 148px;
  }

  @include vp-374 {
    margin: 0 15px;
  }
}

.memberships__element {
  display: none;
}

.memberships__element.is-active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;

  @include vp-767 {
    gap: 41px;
  }

  @include vp-374 {
    gap: 33px;
  }
}

.memberships__catalog {
  position: relative;
  padding: 64px 77px 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
  background-color: $color-default-white;
  z-index: 2;

  @include hover {
    padding: 57px 70px;
    border: 7px solid;
    border-image-slice: 1;
  }

  @include vp-767 {
    min-width: 442px;
    padding-top: 65px;
    min-height: 448px;
  }

  @include vp-374 {
    min-width: 290px;
    min-height: 384px;
    padding: 51px 24px 0;
  }
}
