.memberships {
  background-color: #f8f9fc;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 100px;
}

.memberships__catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f8f9fc;
  gap: 40px;
  margin: 0;
  padding: 30px 70px;
}


.memberships__title {
  font-family: "Alumni Sans", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 230px;
  margin: 0 auto;
  padding: 125px 43px 0;
}

.memberships__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 27px;
  width: 341px;
  margin: 0 auto;
  padding: 19px 41px;
}

.memberships__item {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  min-width: 96px;
}

.memberships__item:nth-child(1) {
  min-width: 86px;
}

.memberships__item:nth-child(2) {
  min-width: 106px;
}
