.navigation {
  display: block;
  padding: 33px 0 0 36px;

  @include vp-1199 {
    padding: 20px 0 0 0;
  }

  @include vp-767 {
    padding: 0;
    flex-direction: column;
    gap: 20px;
    max-width: 90px;
    flex-wrap: wrap;
    top: 32px;
    left: -42px;
  }
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 40px;

  @include vp-1199 {
    margin: 0;
    padding: 20px 0 0 0;
    gap: 30px;
  }

  @include vp-767 {
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 120px;
    gap: 24px;
    margin-bottom: 5px;
  }
}

.navigation__link {
  color: #ffffff;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus {
    border: 1px solid $color-default-white;
  }

  &:disabled {
    color: $color-default-white;
    opacity: 40%;
  }
}

.navigation__item {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  margin: 0;
  line-height: 16px;
  text-align: left;

  @include vp-767 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    min-width: 135px;
  }
}

.navigation__item:first-of-type {
  padding-right: 235px;

  @include vp-1199 {
    padding-right: 35px;
  }

  @include vp-767 {
    padding-right: 60px;
  }
}
