.navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 0 0;

  @include vp-1199 {
    padding: 20px 0 0 0;
  }

  @include vp-767 {
    display: block;
    padding: 0;
    max-width: 90px;
    padding-top: 20px;
    top: 32px;
    left: -42px;
  }
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  min-width: 420px;
  max-width: 500px;
  padding: 18px 0 0 5px;

  @include vp-1199 {
    max-width: 420px;
    min-width: 400px;
    margin: 0;
    padding: 20px 0 0 15px;
    gap: 30px;
  }

  @include vp-767 {
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 120px;
    min-width: 300px;
    max-width: 320px;
  }
}

.navigation__link {
  color: #ffffff;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus {
    border: 1px solid $color-default-white;
  }

  &:disabled {
    color: $color-default-white;
    opacity: 40%;
  }

  &:active {
    outline: none;
    border: none;
  }
}

.navigation__item {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  margin: 0;
  line-height: 16px;
  text-align: left;

  @include vp-767 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding-bottom: 20px;
  }
}

.navigation__part-left {
  display: flex;
  flex-direction: row;
  gap: 40px;

  @include vp-1199 {
    gap: 32px;
  }

  @include vp-767 {
    display: block;
  }
}

.navigation__part-right {
  display: flex;
  flex-direction: row;
  gap: 40px;

  @include vp-1199 {
    gap: 32px;
  }

  @include vp-767 {
    display: block;
    margin: -35px 0 0 -30px;
  }
}

.navigation__item:last-child {
  @include vp-767 {
    padding-bottom: 10px;
  }
}
