.navigation {
  display: block;
  position: relative;
  top: 33px;
  left: 36px;

  @include vp-767 {
    top: 35px;
    left: 3px;
  }
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 41px;

  @include vp-767 {
    gap: 30px;
  }
}

.navigation__link {
  color: #ffffff;
}

.navigation__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
