.navigation {
  margin: 0;
  display: flex;
  padding: 0;
  margin-right: 10px;
  padding-bottom: 17px;
  flex-wrap: wrap;
}

.navigation__text {
  display: none;
}

.navigation__link {
  display: block;
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $color-alice-blue;
}

.navigation__item {
  padding-right: 20px;

  &:last-child {
    padding-right: 0;
  }
}

@media (min-width: $vp-768) {
  .navigation {
    margin-right: 20px;
  }
}

@media (max-width: 1023px) {
  .navigation__link {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}

@media (min-width: $vp-1024) {
  .navigation {
    min-width: 480px;
    margin-left: 34px;
    margin-top: 5px;
  }

  .navigation__link {
    display: flex;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      color: $color-deep-sky-blue;
    }
  }

  .navigation__item {
    padding-right: 122px;

    &:last-child {
      padding-right: 0;
    }
  }

  .navigation__text {
    display: block;
    padding-left: 15px;
  }
}
