.news {
  display: flex;
  margin: 117px auto 100px;
  justify-content: center;

  @include vp-1199 {
    margin: 100px 30px 40px 30px;
    justify-content: center;
  }

  @include vp-767 {
    margin: 70px 15px 40px;
    flex-direction: column;
  }
}

.news__wrapper {
  background-color: #ed0233;
  margin: 0;
  padding: 50px 57px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding: 15px 10px;
  }
}

.news__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  text-transform: uppercase;
  margin: 0;
  display: block;
  padding: 35px 0 0 32px;

  @include vp-1199 {
    line-height: 46px;
    font-size: 48px;
    padding: 35px 0 0 25px;
  }
}

.news__media {
  background-image: image-set("../img/news/crossfit.jpg" 1x, "../img/news/crossfit@2x.jpg" 2x);
  background-color: #103aae;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 660px;

  @include vp-1199 {
    width: 386px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.news__description {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: $color-default-white;
  letter-spacing: 0;
  margin: 5px 20px 45px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    margin: 0 35px 30px 20px;
    text-align: center;
  }
}

.news__about {
  display: grid;
  grid-template-columns: 215px 150px;
  gap: 5px;

  @include vp-1199 {
    grid-template-columns: 165px 100px;
  }
}

.news__calendar {
  display: grid;
  grid-template-rows: 100px 115px;
  gap: 0;

  @include vp-1199 {
    grid-template-rows: 55px 55px;
    gap: 0;
    padding-top: 30px;
  }
}

.news__date {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    &::after {
      left: 143%;
      top: 60%;
      width: 42px;
    }
  }
}

.news__time {
  margin: 0;
  display: block;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 63%;
    top: 49%;
    width: 88px;
    height: 1px;
    background-color: $color-default-white;
    transform: translate(-50%, 0);
  }

  @include vp-1199 {
    &::after {
      left: 35%;
      top: 34%;
      width: 56px;
    }
  }
}

.news__subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  letter-spacing: 0;
  color: $color-default-white;
  display: block;
  padding: 26px 0 0 50px;

  @include vp-1199 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 0 10px;
  }

  @include vp-767 {
    width: 30px;
  }
}

.news__detail {
  margin: 0 0 0 52px;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0;
  text-align: left;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  display: block;

  &--calendar {
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &--month {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border: none;
    margin: 0;
  }

  &--year {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    border: none;
    margin: 0;
  }

  @include vp-1199 {
    font-size: 24px;
    line-height: 36px;
    padding: 0;
    margin: 0 0 0 10px;

    &--month {
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      margin: 0;
    }

    &--year {
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      margin: 0;
    }

    &--calendar {
      margin: 5px 0 0 0;
    }
  }
}

.news__btn {
  border: 4px solid $color-default-white;
  width: 344px;
  min-height: 70px;
  padding: 25px 0;
  justify-content: center;

  @include vp-1199 {
    margin: 0 32px 10px;
    border-width: 2px;
    width: 204px;
    min-height: 39px;
    padding: 12px 51px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.05em;
  }

  @include vp-767 {
    margin: 0 32px 35px;
  }

  &:hover {
    color: $color-default-white;
    opacity: 50%;
  }

  &:focus {
    border: 1px solid $color-default-white;
  }

  &:disabled {
    color: $color-default-white;
    opacity: 50%;
  }
}

.date-full {
  display: flex;
  flex-direction: row;
  gap: 5px;

  &::after {
    position: absolute;
    content: "";
    left: 54%;
    top: 10%;
    width: 65px;
    height: 1px;
    background-color: $color-default-white;
    transform: translate(-50%, 0);

    @include vp-1199 {
      left: 30%;
      width: 40px;
    }
  }

  @include vp-1199 {
    text-align: left;
    gap: 5px;
  }
}
