.news {
  display: flex;
  margin: 117px auto;
  justify-content: center;

  @include vp-1199 {
    margin: 100px 30px 40px 45px;
    justify-content: center;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.news__wrapper {
  background-color: #ed0233;
  margin: 0;
  padding: 50px 57px;

  @include vp-1199 {
    padding: 15px 10px;
  }
}

.news__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 82px;
  line-height: 79px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  text-transform: uppercase;
  width: 201px;
  height: 158px;
  margin: 0;
  display: block;
  position: relative;
  top: 35px;
  left: 20px;


  @include vp-1199 {
    line-height: 46px;
    font-size: 48px;
    width: 117px;
    height: 91px;
    top: 35px;
    left: 34px;
  }
}

.news__media {
  background-image: image-set("../img/news/crossfit.jpg" 1x, "../img/news/crossfit@2x.jpg" 2x);
  background-color: #103aae;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 660px;
  height: 500px;

  @include vp-1199 {
    width: 386px;
    height: 292px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.news__description {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: $color-default-white;
  letter-spacing: 0;
  margin: 0 20px 45px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    margin: 0 35px 30px;
  }
}

.news__about {
  display: flex;
  gap: 5px;
}

.news__calendar {
  display: flex;
  flex-direction: column;
}

.news__date {
  margin: 0;
  display: block;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 110%;
    top: 47%;
    width: 65px;
    height: 1px;
    background-color: $color-default-white;
    transform: translate(-50%, 0);
  }

  @include vp-1199 {
    &::after {
      left: 143%;
      top: 60%;
      width: 42px;
    }
  }
}

.news__time {
  margin: 0;
  display: block;
  position: relative;
  top: -40px;

  &::after {
    position: absolute;
    content: "";
    left: 120%;
    top: 71%;
    width: 88px;
    height: 1px;
    background-color: $color-default-white;
    transform: translate(-50%, 0);
  }

  @include vp-1199 {
    top: -31px;

    &::after {
      left: 155%;
      top: 95%;
      width: 56px;
    }
  }
}

.news__subtitle {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  letter-spacing: 0;
  color: $color-default-white;
  display: block;
  position: relative;
  top: 33px;
  left: 65px;

  @include vp-1199 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    top: 32px;
    left: 57px;
  }

  @include vp-767 {
    width: 30px;
  }
}

.news__detail {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0;
  text-align: left;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  display: block;
  position: relative;
  top: 30px;
  left: 63px;

  &--month {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border: none;
    margin: 0;
    top: -22px;
    left: 90px;
  }

  &--year {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    border: none;
    margin: 0;
    top: -27px;
    left: 90px;
  }

  @include vp-1199 {
    font-size: 24px;
    line-height: 36px;
    top: 30px;
    left: 58px;
    padding: 0;

    &--month {
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      top: -1px;
      left: 73px;
    }

    &--year {
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      top: -4px;
      left: 73px;
    }
  }
}

.news__btn {
  border: 4px solid $color-default-white;
  width: 344px;
  min-height: 70px;
  padding: 25px 110px;

  @include vp-1199 {
    margin: 0 32px 10px;
    border-width: 2px;
    width: 204px;
    min-height: 39px;
    padding: 12px 51px;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.05em;
  }

  @include vp-767 {
    margin: 0 32px 35px;
  }

  &:hover {
    color: $color-default-white;
    opacity: 50%;
  }

  &:focus {
    border: 1px solid  $color-default-white;
  }

  &:disabled {
    color: $color-default-white;
    opacity: 50%;
  }
}
