.page-header {
  position: sticky;
  top: 0;
  z-index: 10;

  color: $color-alice-blue;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @include vp-1220 {
    position: inherit;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;

  width: 1220px;
  margin: 0 auto;
  padding: 30px 0;

  color: $color-alice-blue;

  @include vp-1220 {
    width: 100%;
    justify-content: space-between;

    padding: 20px 50px;
  }

  @include vp-770 {
    padding: 15px 26px 20px;
  }
}

.page-header__logo {
  @include vp-1220 {
    margin-right: auto;
  }

  @include vp-770 {
    width: 35px;
    height: 35px;
    overflow: hidden;
  }
}

.page-header__logo svg {
  @include vp-770 {
    width: auto;
    height: 35px;
  }
}

.page-header__email {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;

  display: flex;
  flex-direction: row;

  width: 131px;
  margin-top: 15px;
  margin-left: 160px;

  color: $color-alice-blue;

  justify-content: space-between;

  :hover {
    color: $color-deep-sky-blue;
  }

  @include vp-1220 {
    width: 50px;
    margin: 10px 10px 0 0;
  }

  @include vp-770 {
    width: 40px;
    margin: 5px 20px 0 0;
  }
}

.page-header__email span {
  @include vp-1220 {
    display: none;
  }
}

.page-header__phone {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;

  display: flex;
  flex-direction: row;

  width: 208px;
  margin: 15px 0 0 121px;

  color: $color-alice-blue;

  justify-content: space-between;

  :hover {
    color: $color-deep-sky-blue;
  }

  @include vp-1220 {
    width: 50px;
    margin: 10px 2px 0 0;
  }

  @include vp-770 {
    width: 40px;
    margin: 5px 0 0;
  }
}

.page-header__phone span {
  @include vp-1220 {
    display: none;
  }
}

.page-header__callme-btn {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;

  height: 40px;
  margin: 5px 0 0 165px;
  padding: 0 17px;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;

  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  background-color: $color-transparent;
  border-radius: 3px;

  @include vp-1220 {
    display: none;
  }
}

.page-header__callme-btn:hover {
  color: $color-deep-sky-blue;
  border: 1px solid $color-deep-sky-blue;
}
