.page-header {
  position: sticky;
  z-index: 10;

  color: $color-alice-blue;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;

  width: 1220px;
  margin: 0 auto;
  padding: 30px 0;

  color: $color-alice-blue;

  @include vp-1220 {
    width: 100%;
    justify-content: space-between;

    padding: 20px 50px;
  }
}

.page-header__logo {
  @include vp-1220 {
    margin-right: auto;
  }
}

.page-header__email {
  font-family: 'PT Mono';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;

  display: flex;
  flex-direction: row;

  width: 131px;
  margin-top: 15px;
  margin-left: 160px;

  color: $color-alice-blue;

  justify-content: space-between;

  @include vp-1220 {
    width: 50px;
    margin: 10px 10px 0 0;
  }
}

.page-header__email span{
  @include vp-1220 {
    display: none;
  }
}

.page-header__phone {
  font-family: 'PT Mono';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;

  display: flex;
  flex-direction: row;

  width: 208px;
  margin: 15px 0 0 121px;

  color: $color-alice-blue;

  justify-content: space-between;

  @include vp-1220 {
    width: 50px;
    margin: 10px 0 0 0;
  }
}

.page-header__phone span{
  @include vp-1220 {
    display: none;
  }
}

.page-header_callme-btn {
  font-family: 'Roboto Condensed';
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;

  height: 40px;
  margin: 5px 0 0 165px;
  padding: 0 17px;

  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;

  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  background-color: $color-transparent;

  @include vp-1220 {
    display: none;
  }
}
