.page {
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-text-color;
  background: $base-background-color;
  min-width: $mobile-width-only;

  @media (min-width: $mobile-width-only) {
    overflow-x: hidden;
  }
}

.page__body {
  min-height: 100%;
  margin: 0;
  position: relative;

  @media (min-width: $mobile-width-only) {
    overflow-x: hidden;
  }
}

.page__header {
  position: absolute;
  width: 100%;
  top: 0;
}

.page__footer {
  background: $dark-background-color;
}
