.phones-list__item {

  letter-spacing: 5%;

  @media (min-width: $desktop-width) {
    margin-bottom: 3px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 5px;
  }
}

.phones-list__link {
  color: inherit;
  line-height: 25px;

  &:hover,
  &:focus {
    color: #ffffff;
  }
}