.popup-callme {
  position: relative;

  width: 500px;
  height: 610px;
  margin: 145px auto;
  padding: 37px 40px;

  border-radius: 3px;
  background: $color-deep-sky-blue;
}

.popup-callme__cancel {
  position: absolute;
  top: 14px;
  right: 14px;

  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;

  cursor: pointer;

  background-color: $color-transparent;
}

.popup-callme__cancel::before {
  position: absolute;
  top: 8px;
  left: 19px;

  width: 1px;
  height: 26px;

  content: "";
  transform: rotate(45deg);

  border-radius: 5px;
  background: $color-default-white;
}

.popup-callme__cancel::after {
  position: absolute;
  top: 8px;
  left: 19px;

  width: 1px;
  height: 26px;

  content: "";
  transform: rotate(-45deg);

  border-radius: 5px;
  background: $color-default-white;
}

.popup-callme h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: 42px;

  margin: 0 0 4px 0;

  color: $color-default-white;
}

.popup-callme form {
  display: flex;
  flex-direction: column;
}

.popup-callme p {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;

  margin: 0 0 38px 0;

  color: $color-default-white;
}

.popup-callme input {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;

  width: 100%;
  margin-bottom: 20px;
  padding: 14px 15px;

  color: $color-default-white;
  border: none;
  border-radius: 3px;
  background: rgba(4, 20, 39, 0.15);
}

.popup-callme textarea {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;

  height: 155px;
  margin-bottom: 25px;
  padding: 24px 15px;

  color: $color-default-white;
  border: none;
  border-radius: 3px;
  background: rgba(4, 20, 39, 0.15);
}

.popup-callme input::placeholder,
.popup-callme textarea::placeholder {
  color: $color-default-white;
}

.popup-callme button[type=submit] {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 19px;

  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  padding-top: 6px;

  cursor: pointer;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $color-default-white;
  border: none;
  border-radius: 3px;
  background: $color-black-pearl;
}

.popup-callme label {
  font-family: "PT Mono", "Courier New", monospace;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;

  position: relative;

  padding-left: 34px;

  cursor: pointer;

  opacity: 0.8;
  color: $color-default-white;
}

.popup-callme label::before {
  position: absolute;
  top: 0;
  left: 9px;

  display: block;

  width: 15px;
  height: 15px;

  content: "";

  border: 1px solid $color-default-white;
  border-radius: 2px;
}

.popup-callme label::after {
  position: absolute;
  top: 4px;
  left: 12px;

  display: block;

  width: 7px;
  height: 4px;

  content: "";
  transform: rotate(-45deg);

  opacity: 0;
  border: 1px solid $color-default-white;
  border-top: none;
  border-right: none;
}

.popup-callme input[type="checkbox"]:checked + label::after {
  opacity: 1;
}
