.products-item {
  width: 28.5%;
  max-width: 350px;
  height: 650px;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  margin: 0 0 30px 0;
  box-sizing: border-box;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    width: 98%;
    height: 250px;
    max-width: 750px;
    padding-top: 15px;
  }

  @media (max-width: $mobile-width) {
    padding: 5px 0;
  }
}

.products-item__link {
  width: 100%;
  height: 100%;
  display: block;
}

.products-item:not(:last-child) {
  margin-right: 7.1%;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.products-item__description {
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  width: 65%;
  margin-left: 45px;

  @media (max-width: $tablet-width) {
    width: 150px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 25px;
    font-size: 18px;
    margin-top: 20px;
    width: 133px;
  }
}

.products-item--first {
  background-image: url("../img/goods/desktop/goods-desktop-first.webp");
  background-repeat: no-repeat;
  background-color: #041827;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/goods/desktop/goods-desktop-first-2x.webp");
    background-size: 350px auto;
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/goods/tablet/goods-tablet-first.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods/desktop/goods-tablet-first-2x.webp");
      background-size: 350px auto;
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/goods/mobile/goods-mobile-first.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods/mobile/goods-mobile-first-2x.webp");
      background-size: 350px auto;
    }
  }
}

.products-item--second {
  background-image: url("../img/goods/desktop/goods-desktop-second.webp");
  background-repeat: no-repeat;
  background-color: #041827;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/goods/desktop/goods-desktop-second-2x.webp");
    background-size: 350px auto;
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/goods/tablet/goods-tablet-second.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods/desktop/goods-tablet-second-2x.webp");
      background-size: 350px auto;
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/goods/mobile/goods-mobile-second.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods/mobile/goods-mobile-second-2x.webp");
      background-size: 350px auto;
    }
  }
}

.products-item--third {
  background-image: url("../img/goods/desktop/goods-desktop-third.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #041827;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/goods/desktop/goods-desktop-third-2x.webp");
    background-size: 350px auto;
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/goods/tablet/goods-tablet-third.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods/desktop/goods-tablet-third-2x.webp");
      background-size: 350px auto;
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/goods/mobile/goods-mobile-third.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/goods/mobile/goods-mobile-third-2x.webp");
      background-size: 350px auto;
    }
  }
}

.products-item::before {
  background: url("../img/svg/arrow-goods.svg") no-repeat;
  width: 60px;
  height: 60px;
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width) {
    background-size: 40px 40px;
    right: -20px;
    bottom: -20px;
  }
}