.products {
  margin: 0;
  background-color: #041827;
  color: #ffffff;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 960px;
  padding-top: 67px;

  @media (max-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 50px;
    min-height: 1053px;
  }
}

.products__wrapper {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-sizing: border-box;
  width: 100%;
  max-width: 1242px;
  height: auto;
  margin-left: 5px;
  padding: 0 10px;




  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0 40px 0 10px;
    margin-left: 28px;

    align-items: center;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    padding: 0 20px 0 20px;
    align-items: start;
  }
}

.products__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  width: 100%;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

  }
}

.products__header {
  margin: 0 0 50px 0;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    margin-bottom: 38px;
    padding-left: 10px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 38px;
    max-width: 250px;
    margin-bottom: 30px;
    padding-left: 0;
    margin-left: 5px;
  }
}

.products__header--second {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.products__header--first {
  @media (max-width: $mobile-width) {
    display: none;
  }
}