.promotions{
  margin: 0 auto;
}

.promotions__wrapper{
  padding-top: 126px;
  padding-right: 103px;
  padding-bottom: 120px;
  padding-left: 103px;
}

.promotions__title{
  font-family: $ff-Alumnisans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  color: $color-primary;
  text-align: center;
  margin-bottom: 34px;
}

.promotions__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
