.reviews__wrapper {
  width: 100%;
  max-width: 1366px;
  position: relative;
  padding: 120px 100px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 5px 0 100px;
  }

  @include vp-767 {
    padding: 6px 15px 50px;
  }
}

.reviews__title {
  @include h2;

  text-align: center;
}

.reviews__swiper {
  width: 560px;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.reviews__swiper-wrapper {
  background-color: $color-default-black;
}

.reviews__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  display: block;
  margin: 0 0 10px;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    margin: 0;
    padding-left: 10px;
    align-self: center;
    line-height: 130%;
  }
}

.reviews__text {
  @include h5;

  line-height: 22px;
  text-align: left;
  margin: 0;

  @include vp-767 {
    grid-column: 1/3;
    text-align: center;
  }
}


.reviews__swiper-button {
  position: absolute;
  top: 52%;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 32px;
  z-index: 2;
  cursor: pointer;

  &--back {
    left: 22%;
    transform: translate(0, -50%);
    background-image: url("../img/sprite/arrow-back.svg");
    fill: #afafaf;

    &:hover,
    &:focus {
      left: 29px;
      background-image: url("../img/sprite/arrow-back.svg");
      background-size: 56px 56px;
      outline: none;
      left: 22%;
    }
  }

  &--along {
    right: 22%;
    transform: translate(0, -50%);
    background-image: url("../img/sprite/arrow-along.svg");
    fill: #afafaf;

    &:hover,
    &:focus {
      right: 29px;
      background-image: url("../img/sprite/arrow-along.svg");
      background-size: 56px 56px;
      outline: none;
      right: 22%;
    }
  }

  @include vp-1199 {
    top: 48%;
  }

  @include vp-767 {
    top: 51%;
    width: 20px;
    height: 20px;
    background-size: 10px 19px;

    &--back {
      left: 10px;
    }

    &--along {
      right: 10px;
    }
  }
}

.reviews__card {
  position: relative;
  padding: 54px 54px 57px;
  padding-left: 170px;
  color: $color-default-white;
  background-color: $color-default-black;
  cursor: grab;

  @include vp-1199 {
    padding-left: 172px;
  }

  @include vp-767 {
    padding: 40px 17px 34px;
    display: grid;
    min-height: 335px;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    row-gap: 14px;
  }
}

.reviews__card picture {
  position: absolute;
  top: 62px;
  left: 62px;

  @include vp-1199 {
    left: 65px;
  }

  @include vp-767 {
    position: static;
    margin-left: 24px;
    justify-self: flex-start;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
