.reviews__wrapper {
  width: 100%;
  max-width: 1366px;
  position: relative;
  padding: 120px 100px 120px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 5px 0 100px;
  }

  @include vp-767 {
    padding: 0 15px 70px;
  }
}

.reviews__title {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 0 35px;

  @include vp-1199 {
    font-size: 42px;
    margin: 70px 0 30px;
  }

  @include vp-767 {
    font-size: 32px;
    margin: 70px 0 30px;
  }
}

.reviews__swiper {
  max-width: 560px;
  background-color: #1c3374;

  @include vp-1199 {
    max-width: 566px;
  }

  @include vp-767 {
    min-width: 200px;
    margin: 0 30px;
  }
}

.reviews__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  font-style: normal;
  display: block;
  margin: 0;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    padding-left: 10px;
    align-self: center;
    font-size: 20px;
    line-height: 26px;
  }
}

.reviews__text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
  display: block;
  grid-column: 2/3;
  gap: 10px;

  @include vp-1199 {
    padding: 0;
    display: block;
  }

  @include vp-767 {
    grid-column: 1/3;
    text-align: center;
    gap: 0;
  }
}

.reviews__swiper-button {
  position: absolute;
  top: calc((100% - 56px) / 2 + 76px);
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 32px;
  z-index: 2;
  cursor: pointer;

  &--back {
    left: calc((100% - 560px) / 2 - 76px);
    transform: translate(0, -50%);
    background-image: url("../img/sprite/arrow-back.svg");
    fill: #afafaf;

    &:hover,
    &:focus {
      left: calc((100% - 560px) / 2 - 76px);
      background-image: url("../img/sprite/arrow-back-hover.svg");
      background-size: 54px 54px;
      background-color: $color-default-white;
      fill: #afafaf;
      border-radius: 50%;
    }

    &:active {
      background-image: url("../img/sprite/arrow-back-active.svg");
      background-size: 54px 54px;
    }
  }

  &--along {
    right: calc((100% - 560px) / 2 - 76px);
    transform: translate(0, -50%);
    background-image: url("../img/sprite/arrow-along.svg");
    fill: #afafaf;

    &:hover,
    &:focus {
      background-image: url("../img/sprite/arrow-along-hover.svg");
      background-size: 30px 30px;
      outline: none;
      background-color: $color-default-white;
      fill: #102654;
      border-radius: 50%;
      border: 1px solid #102654;
    }

    &:active {
      background-image: url("../img/sprite/arrow-along.svg");
      background-size: 30px 30px;
      outline: none;
      background-color: $color-default-black;
      fill: #afafaf;
      border-radius: 50%;
    }
  }

  @include vp-1199 {
    top: calc((100% + 56px)/2);

    &--back {
      &:hover,
      &:focus {
        background-image: url("../img/sprite/arrow-back-hover.svg");
      }
    }

    &--along {
      right: calc((100% - 560px) / 2 - 76px);

      &:hover,
      &:focus {
        right: calc((100% - 560px) / 2 - 76px);
        background-image: url("../img/sprite/arrow-along-hover.svg");
      }
    }
  }

  @include vp-767 {
    top: calc((100% + 20px)/2);
    width: 20px;
    height: 20px;
    background-size: 10px 19px;

    &--back {
      left: 10px;

      &:hover,
      &:focus {
        left: 10px;
        background-image: url("../img/sprite/arrow-back-hover.svg");
      }
    }

    &--along {
      right: 10px;

      &:hover,
      &:focus {
        right: 10px;
        background-image: url("../img/sprite/arrow-along-hover.svg");
      }
    }
  }
}

.reviews__swiper-button--back.reviews__button-disabled {
  background-image: url("../img/sprite/arrow-back-disabled.svg");
  background-color: transparent;
  border: none;
  fill: #afafaf;
  background-size: 16px 32px;
}

.reviews__swiper-button--along.reviews__button-disabled {
  background-image: url("../img/sprite/arrow-along.svg");
  background-color: transparent;
  border: none;
  fill: #afafaf;
  background-size: 16px 32px;
}

.reviews__card {
  padding: 50px 8px 35px 58px;
  color: $color-default-white;
  background-color: rgba(28, 51, 116, 1);

  cursor: grab;

  @include vp-1199 {
    padding: 50px 64px 35px 65px;
  }

  @include vp-767 {
    padding: 35px 22px 0;
    min-height: 335px;
  }
}

.reviews__card-wrapper {
  display: grid;
  grid-template-columns: 100px 330px;
  grid-template-rows: 20px 1fr;
  position: relative;
  padding: 0;
  color: $color-default-white;
  background-color: #1c3374;
  cursor: grab;
  gap: 10px;

  @include vp-1199 {
    padding-left: 0;
    display: grid;
    grid-template-rows: 20px 1fr;
  }

  @include vp-767 {
    padding: 0;
    gap: 0;
    grid-template-columns: auto;
    grid-template-rows: 80px 200px;
    justify-content: center;
  }
}

.reviews__card picture {
  padding: 10px 5px;

  @include vp-1199 {
    padding: 10px 0;
  }

  @include vp-767 {
    padding: 0 10px;
  }
}

.reviews__card--autor {
  padding: 0 10px 0;
}

.reviews__card p {
  @include vp-767 {
    margin: 0;
    margin-top: 5px;
  }
}

.reviews__swiper-wrapper {
  background-color: #1c3374;
}
