.sd-logo__image--no-texted {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.sd-logo__image--texted {

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.sd-logo:hover,
.sd-logo:focus {
  opacity: 0.5;
}