.social {
  display: block;
  position: relative;
  top: 25px;
  left: -30px;

  @include vp-1199 {
    padding: 0;
    margin: 0;
    left: -40px;
    top: 30px;
  }

  @include vp-767 {
    top: 23px;
    left: -42px;
  }
}

.social__list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.social__link {
  fill: #ffffff;
  width: 12px;
  height: 6.94px;
  display: flex;
  justify-content: center;
}

.social__item {
  background-color: #dadada;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
}
