.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.social__link-icon {
  fill: #fafeff;
}

.social__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__social.social.container {
  padding-right: 0;
  align-self: start;
}

@media (min-width: $vp-768) {
  .social.container {
    align-self: start;
    padding-right: 0;
  }

  .social__list {
    margin-right: 4px;
    justify-content: end;
    width: 200px;
  }
}

@media (min-width: $vp-1024) {
  .social.container {
    padding: 0;
  }

  .social__list {
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 31px;
  }

  .social__link-icon {
    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      fill: $color-deep-sky-blue;
    }
  }
}
