.subscription {
  position: relative;
  background-color: $color-ghost-white;
  color: $color-primary;
  font-style: normal;

  @include vp-767 {
    border-top: 1px solid $color-default-black;
    border-bottom: 1px solid $color-default-black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}

.subscription__container {
  padding-top: 124px; //Подгон
  padding-bottom: 120px;

  @include vp-1365 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.subscription__title {
  max-width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  text-align: center;
  word-wrap: break-word;

  @include vp-1365 {
    margin-bottom: 35px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin-bottom: 22px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}

.subscription__tabs-wrapper {
  display: flex;
  justify-content: center;
}

.subscription__list-tabs {
  display: flex;
  gap: 50px;
  margin-bottom: 38px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  font-family: $ff-roboto-condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;

  @include vp-1365 {
    gap: 54px;
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    gap: 45px;
    max-width: 290px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 16px;
  }
}

.subscription__btn {
  max-width: 100px;
  color: rgba(16, 38, 84, 0.5);
  padding: 0;
  padding-bottom: 12px;
  border: none;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  background-color: $color-ghost-white;
  transform: translateY(2px);
  word-wrap: break-word;

  cursor: pointer;

  @include hover-focus {
    outline: none;
    color: $color-primary;
    border-bottom: 2px solid $color-crimson;
  }

  @include active {
    outline: none;
    color: $color-primary;
    border-bottom: 2px solid $color-crimson;
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.2);
    border-color: rgba(16, 38, 84, 0.2);
    pointer-events: none;
  }

  @include vp-1365 {
    padding-bottom: 10px;
  }

  @include vp-767 {
    padding-bottom: 14px;
  }
}

.subscription__cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  z-index: 1;

  @include vp-1365 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    row-gap: 32px;
  }
}

.subscription__img-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(33%); //Подгон
  object-fit: cover;

  @include vp-1365 {
    width: 275px;
    height: 328px;
    transform: translateY(25%); //Подгон
  }

  @include vp-767 {
    display: none;
  }
}
