.super-games{
  margin: 0 auto;
  width: 1160px;
}

.super-games__wrapper{
  display: grid;
  grid-template-columns: 500px auto;
}

.super-games__text{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 85px 78px;
  background-color: $color-banner-red;
}

.super-games__intro{
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}

.super-games__title{
  font-family: $ff-Alumnisans;
  font-weight: 600;
  font-size: 56px;
  line-height: 0.96;
  color: $color-default-white;
  letter-spacing: 2.46px;
  text-transform: uppercase;
  padding-bottom: 28px;
}

.super-games__description{
  font-family: $ff-placeholder;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $color-default-white;
  padding-bottom: 42px;
}

.super-games__link-application{
  padding: 26px 0;
}


.super-games__date-time{
display: flex;
flex-direction: column;
gap: 46px;
}

.super-games__time-table{
  margin-top: -5px;
  font-family: $ff-placeholder;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $color-default-white;
}

.super-games__number{
  font-family: $ff-placeholder;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: $color-default-white;
}

.super-games__date-month{
  font-size: 14px;
}
