.swiper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  touch-action: pan-y;

  @include vp-767 {
    padding: 0 10px;
  }
}

.swiper {
  touch-action: pan-y;
}

.swiper-wrapper {
  display: flex;
  padding-left: 0;
  max-width: 1160px;
  width: calc(100% - 236px);

  @include vp-1023 {
    max-width: 100%;
    width: calc(100% - 120px);
  }

  @include vp-767 {
    max-width: 100%;
    width: calc(100% - 50px);
  }

}

.swiper__slider {
  overflow: hidden;
  width: 100%;
  max-width: 1160px;
  touch-action: pan-y;

  @include vp-1023 {
    padding: 0 12px;
  }

  @include vp-767 {
    padding: 0;
  }

}

.slide-desc {
  padding: 10px;
  opacity: 0;
  height: 0;
  background: rgba(16, 38, 84, 0.89);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity, 0.8s;
  cursor: pointer;
  overflow-y: auto;
  touch-action: pan-y;
}


.swiper-slide {
  width: calc((100% - 90px) / 4);
  height: 100%;
  position: relative;
  list-style: none;

  @include vp-1023 {
    width: calc((100% - 100px) / 2);
  }

  @include vp-767 {
    width: 100%;
  }

  &:hover>.slide-desc {
    opacity: 1;
    height: 100%;
  }

  &:focus-within>.slide-desc {
    opacity: 1;
    height: 100%;
  }

  &:hover>.slide-img>h4 {
    display: none;
  }
}

.swiper-slide h4 {
  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: $color-default-white;

  @include vp-767 {
    font-size: 18px;
    line-height: 150%;
    margin-top: 42px;
    margin-bottom: 0;
  }

}

.slide-img h4 {
  position: absolute;
  bottom: -1%;
  display: block;
  left: 50%;
  transform: translate(-50%);

  @include vp-1023 {
    bottom: 2%;
    left: 51%;
  }

  @include vp-767 {
    bottom: 5%;
  }
}

.slide-desc ul li {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $color-default-white;
  list-style: none;
  position: relative;
  margin-bottom: 13px;
  margin-left: 20px;

  @include vp-767 {
    margin-left: 0;
  }

  &::after {
    top: 7px;
    position: absolute;
    left: -15px;
    content: '';
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;

    @include vp-767 {
      left: -18px;
      bottom: 0;
    }
  }
}

.slide-desc p {
  text-align: center;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #B6BDCC;
  margin-top: -4px;
  margin-bottom: 33px;
}

.slide-desc h4 {
  text-align: center;
  margin-top: 42px;
  margin-bottom: 0;

  @include vp-1023 {
    margin-left: -6px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-top: 32px;
  }
}

.slider-prev {
  transform: rotate(-135deg);
}

.slider-next {
  transform: rotate(45deg);
}

.slider-btn {
  cursor: pointer;
  border: none;
  background: none;
  padding: 10px;

  @include vp-1023 {
    margin-bottom: 10px;
    padding: 12px;
  }

  @include vp-767 {
    padding: 10px;
    margin-bottom: 0;
  }
}

.slider-btn span {
  display: block;
  width: 24px;
  height: 24px;
  border-top: 1px solid #AFAFAF;
  border-right: 1px solid #AFAFAF;

  @include vp-767 {
    width: 19px;
    height: 19px;
  }
}

.slide-img {
  width: inherit;

  @include vp-1023 {
    width: inherit;
    height: auto;
  }

  @include vp-767 {
    width: inherit;
    height: auto;
  }

}

.slide-img img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  background-color: rgba(16, 38, 84, 0.89);

  @include vp-1023 {
    width: 100%;
    height: 100%;
  }

  @include vp-767 {
    width: 100%;
  }
}
