.primary-title {
  font-family: $ff-primary;
  color: $color-default-white;
  text-align: right;
  font-size: 92px;
  font-size: 92px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4.6px;
}

.secondary-title-h3 {
  font-family: $ff-primary;
  color: $text-color-main;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 100% */
  letter-spacing: 1.62px;
}

.secondary-title-h4 {
  font-family: $ff-primary;
  color: $text-color-main;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.text-large {
  font-family: $ff-secondary;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.text-regular {
  font-family: $ff-secondary;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}

.text-small {
  font-family: $ff-secondary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.tabs-lined {
  color: $text-color-main;
  font-family: $ff-secondary;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.text-button-regular {
  color: $text-color-main;
  font-family: $ff-secondary;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100% */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}