.website-list {
  margin: 0;
  padding: 0;
  // display: none;
}

.website__item {
  margin-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  height: min-content;
}

.website__title {
  margin: 0;
  margin-top: 25px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  padding-left: 25px;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    background: linear-gradient(#c4c4c4, #c4c4c4), linear-gradient(#c4c4c4, #c4c4c4);
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    background-repeat: no-repeat;
    top: 30px;
    right: 21px;
  }

  &::before {
    transform: rotate(90deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(180deg);
  }
}

.is-active .website__title {
  &::before {
    transform: scaleY(0) rotate(180deg);
  }
}

.website__link {
  font-family: $ff-ptmono;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffffb3;
  cursor: pointer;
}


@media (min-width: $vp-768) {
  .website__title {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 2px;

    &::before,
    &::after {
      display: none;
    }
  }

  .website__link {
    font-size: 16px;
    line-height: 22px;
  }

  .website-list {
    display: block;
  }

  .website__item {
    padding: 0;
    margin-top: 0;
    margin-bottom: 6px;
    padding-right: 90px;
  }
}

@media (min-width: $vp-1024) {
  .website {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .website-list {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-auto-flow: column;
    gap: 6px 30px;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }

  .website__title {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 4px;
  }

  .website__item {
    margin: 0;
    padding: 0;
    width: 220px;
    padding-left: 10px;
  }

  .website__link {
    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      color: $color-deep-sky-blue;
    }
  }
}
