.promo {
  width: 100%;
  position: relative;
  padding: 185px 0 340px 0;

  /*@include vp-1439 {
    padding: 185px 0 340px;
  }*/

  /*@include vp-1279 {
    padding: 26px 0 100px 0;
  }*/

  @include vp-1023 {
    padding: 79px 0 246px;
  }

  @include vp-767 {
    padding: 85px 0 212px 0;
  }
}

.promo__wrapper {
  width: 1220px;
  margin: 0 auto;

  @include vp-1279 {
    width: 100%;
    padding: 0 140px;
  }
}

.promo__title {
  max-width: 720px;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f2f5f7;
  margin: 0 0 33px 0;
  z-index: 2;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    margin: 0;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 8px 0;
  }
}

.promo__text {
  font-family: "PT_Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #f2f5f7;
  margin: 0 0 47px 0;
  max-width: 610px;

  @include vp-1023 {
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    color: #f2f5f7;
    margin-bottom: 56px;
  }

  @include vp-767 {
    font-family: "PT_Mono", "Arial", sans-serif;
    font-size: 14px;
    margin: 0 0 46px 0;
  }
}

.promo__button {
  display: inline-block;
  max-width: 410px;
  padding: 15px 25px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  background: #00b2ff;
  border-radius: 3px;

  @include vp-1279 {
    max-width: 410px;
  }

  @include vp-1023 {
    max-width: 410px;
    margin: 0 0 0 45px;
  }

  @include vp-767 {
    display: none;
    font-size: 14px;
    margin: 0;
    padding: 10px 30px;
  }
}

.promo__button--hidden {
  display: none;

  @include vp-767 {
    display: inline-block;
  }
}

.promo__shadow {
  width: 100%;
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
}

.promo__picture {
  display: block;
  width: 100%;
  height: 860px;
  object-fit: cover;
  background-color: #041827;
  margin: 0;

  @include vp-1023 {
    height: 640px;
  }

  @include vp-767 {
    height: 595px;
  }
}
