.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;

  @include vp-1439 {
    padding: 0 32px;
  }

  @include vp-1023 {
    padding: 0 50px;
  }

  @include vp-767 {
    padding: 0 25px;
  }
}
