.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include vp-1220 {

  }

  @include vp-1023 {

  }

  @include vp-767 {

  }
}

/* * {
  outline: 1px solid #f00 !important;
}*/
