.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 127px;

  @include vp-1439 {
    padding: 0 35px;
  }

  @include vp-1279 {
    padding: 0 30px;
  }

  @include vp-1023 {
    padding: 0 50px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 766px;
    padding: 0;
  }
}
