@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Mono";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/PTMono-Regular.woff2") format("woff2");
}