@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/Robotocondensed.woff2") format("woff2"),
    url("../fonts/Robotocondensed.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../fonts/Robotocondensedbold.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Mono";

  font-display: swap;
  src:
    url("../fonts/ptmono.woff2") format("woff2"),
    url("../fonts/ptmono.woff") format("woff");
}
