@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("/source/fonts/roboto-condensed-v27-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/roboto-condensed-v27-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/roboto-condensed-v27-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/source/fonts/alumni-sans-v18-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  src: url("/source/fonts/alumni-sans-v18-latin-800.woff2") format("woff2");
}
