@font-face {
  font-family: "PT Mono";
  src:
    url("../../fonts/pt-mono-regular.woff2") format("woff2"),
    url("../../fonts/pt-mono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../../fonts/roboto-medium.woff2") format("woff2"),
    url("../../fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../../fonts/roboto-condensed-regular.woff2") format("woff2"),
    url("../../fonts/roboto-condensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    url("../../fonts/roboto-condensed-bold.woff2") format("woff2"),
    url("../../fonts/roboto-condensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
