// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensedRegular.woff2") format("woff2"),
    url("../fonts/RobotoCondensedRegular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensedBold.woff2") format("woff2"),
    url("../fonts/RobotoCondensedBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Mono";
  font-display: swap;
  src: url("../fonts/PTMonoRegular.woff2") format("woff2"),
    url("../fonts/PTMonoRegular.woff") format("woff");
}
