@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-300.woff2") format("woff2"), url("../fonts/RobotoCondensed-300.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Alumni Sans";
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Alumni Sans";

  font-display: swap;
  src: url("../fonts/AlumniSans-700.woff2") format("woff2"), url("../fonts/AlumniSans-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Alumni Sans";

  font-display: swap;
  src: url("../fonts/AlumniSans-600.woff2") format("woff2"), url("../fonts/AlumniSans-600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Alumni Sans";

  font-display: swap;
  src: url("../fonts/AlumniSans-500.woff2") format("woff2"), url("../fonts/AlumniSans-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Rouble";

  font-display: swap;
  src: url("../fonts/rouble.woff2") format("woff2"), url("../fonts/rouble.woff") format("woff");
}
