@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "";

  font-display: swap;
  src: url("../fonts/RobotoCondensed-300.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "";

  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "";

  font-display: swap;
  src: url("../fonts/RobotoCondensed-500.woff2") format("woff2");
}

@font-face {
  font-style: bold;
  font-weight: 700;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("/fonts/RobotoCondensed-Bold.woff2") format("woff2");
}

@font-face {
  font-style: bold;
  font-weight: 700;
  font-family: "Alumni Sans";

  font-display: swap;
  src: url("/fonts/AlumniSans-SemiBold.woff2") format("woff2");
}
