@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserratregular.woff2") format("woff2"),
    url("../fonts/montserratregular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserratmedium.woff2") format("woff2"),
    url("../fonts/montserratmedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserratsemibold.woff2") format("woff2"),
    url("../fonts/montserratsemibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserratbold.woff2") format("woff2"),
    url("../fonts/montserratbold.woff") format("woff");
  font-display: swap;
}
