@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("../fonts/RobotoCondensed.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Roboto Condensed";

  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
}


@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Alumni Sans";

  font-display: swap;
  src: url("../fonts/AlumniSans-SemiBold.woff2") format("woff2");
}
