.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #041827;
  min-height: 100%;
  min-width: 100%;
}

html {
  scroll-behavior: smooth;
}