// Colors

$base-text-color: #011c40;
$base-background-color: #f9fbfd;
$dark-background-color: #011c40;
$light-text-color: #f9fbfd;



/*

$promo-background-color: #f3ebe1;
$marked-color: #7859cf;
$catalog-background-color: #f8f8f8;
$range-slider-color: #9070ec;
$color-type-one: #f0ebff;
$color-type-two: #bdbdbd;
$color-type-three: #e2e2e2;
$color-type-four: #593cac;
$blackout-color: rgba(120, 89, 207, 0.25);
*/

// Viewports

$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;
