.contacts {
  width: 100%;
  margin: 0 auto;
}

.contacts__list {
  margin: 0 0 0 158px;
  padding: 40px 0 0;

  /*@include vp-1919 {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(auto, 2vw));
    justify-items: end;
    grid-template-columns: 8vw 17vw;
    padding: 40px 0 0;
    gap: 0 0;
  }*/

  @include vp-1279 {
    display: flex;
    margin: 0 0 0 30px;
  }

  @include vp-1023 {
    grid-template-rows: repeat(auto-fit, minmax(auto, 5vw));
    grid-template-columns: repeat(2, minmax(0, 5vw));
    padding: 16px 0 0 0;
    margin: 0 2px 0 0;
    justify-self: center;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, minmax(0, 12vw));
    grid-template-rows: repeat(auto-fit, minmax(auto, 13vw));
    padding: 15px 0 0 16px;
  }
}

.contacts__item {
  display: inline-flex;
  padding: 3px 0 0 0;
  margin: 0;

  @include vp-767 {
    padding: 0;
  }
}

.contacts__item--email {
  margin: 0 102px 0 0;

  @include vp-1279 {
    margin: 0 12px 0 0;
  }

  @include vp-1023 {
    margin: 0 0 0 -4px;
  }
}

.contacts__item--tel {
  @include vp-1023 {
    margin: 0 0 0 16px;
  }

  @include vp-767 {
    margin: 0 7px 0 18px;
  }
}

.contacts__parameter {
  display: flex;
  margin: 3px 16px 0 0;

  @include vp-1279 {
    margin-right: 3px;
  }

  @include vp-1023 {
    padding: 10px;
    margin: 0;
  }
}

.contacts__meaning {
  margin: -2px 0 0 9px;
}

.contacts__mail,
.contacts__phone {
  font-family: "PT_Mono", "Arial", sans-serif;
  margin: 0 0 0 5px;
  color: #f2f5f7;

  @include vp-1439 {
    font-size: 15px;
  }

  @include vp-1279 {
    font-size: 13px;
  }
}

.contacts__meaning--hidden {
  display: block;

  @include vp-1023 {
    display: none;
  }
}
