.contacts {
  width: 100%;
  margin: 0 auto;
}

.contacts__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto-fit, minmax(50px, auto));
  padding: 40px 0;
  margin: 0 0 0 158px;

  @include vp-1279 {
    margin: 0 0 0 30px;
  }

  @include vp-1023 {
    grid-template-rows: repeat(auto-fit, minmax(auto, 5vw));
    grid-template-columns: repeat(2, minmax(0, 5vw));
    padding: 16px 0 0 0;
    margin: 0 38px 0 0;
    justify-self: center;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, minmax(0, 12vw));
    grid-template-rows: repeat(auto-fit, minmax(auto, 13vw));
    padding: 15px 0 0 0;
    margin: 0 29px 0 7px;
  }
}

.contacts__item {
  display: inline-flex;
  padding: 3px 0 0 0;
  margin: 0;

  @include vp-767 {
    padding: 0;
  }
}

.contacts__item--email {
  margin: 0 31px 0 0;

  @include vp-1279 {
    margin: 0 12px 0 0;
  }

  @include vp-1023 {
    margin: 0 0 0 -4px;
  }
}

.contacts__item--tel {
  @include vp-1023 {
    margin: 0 0 0 16px;
  }

  @include vp-767 {
    margin: 0 7px 0 18px;
  }
}

.contacts__parameter {
  display: flex;
  margin: 3px 16px 0 0;

  &:hover,
  &:focus,
  &:active {
    text-shadow: 1px 1px 5px #f2f5f7;
  }

  @include vp-1279 {
    margin-right: 3px;
  }

  @include vp-1023 {
    padding: 10px;
    margin: 0;
  }
}

.contacts__parameter:hover .contacts__icon,
.contacts__parameter:focus .contacts__icon,
.contacts__parameter:active .contacts__icon {
  fill: #f2f5f7;
}

.contacts__icon {
  fill: #00b2ff;
}

.contacts__meaning {
  margin: -2px 0 0 9px;
}

.contacts__mail,
.contacts__phone {
  font-family: "PT_Mono", "Arial", sans-serif;
  margin: 0 0 0 5px;
  color: #f2f5f7;

  @include vp-1439 {
    font-size: 15px;
  }

  @include vp-1279 {
    font-size: 13px;
  }
}

.contacts__meaning--hidden {
  display: block;

  @include vp-1023 {
    display: none;
  }
}
