.header {
  width: 100%;
}

.header__wrapper {
  width: 1220px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 216px auto auto;
  grid-template-rows: repeat(auto-fit, minmax(120px, auto));

  @include vp-1279 {
    width: 100%;
    padding: 0 140px;
    margin: 0 auto;
  }

  @include vp-1023 {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    grid-template-columns: 216px auto;
    grid-template-rows: repeat(auto-fit, minmax(auto, 100px));
    justify-content: space-between;
  }

  @include vp-767 {
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto-fit, minmax(auto, 70px));
  }
}

.header__button {
  justify-self: center;
  height: min-content;
  width: auto;
  margin: 36px -13px 0 0;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  border: 1px solid #f2f5f7;
  border-radius: 3px;

  @include vp-1439 {
    width: auto;
    font-size: 13px;
    padding: 10px 13px;
    margin-right: 0;
  }

  @include vp-1279 {
    width: auto;
    font-size: 11px;
    margin: 36px 0 0 0;
    padding: 10px 10px;
  }

  @include vp-1023 {
    display: none;
  }
}
