.header {
  max-width: 100%;
  display: grid;
  grid-template-columns: 215px 29vw 10.2vw;
  grid-template-rows: repeat(auto-fit, minmax(auto, 120px));
  justify-items: center;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  gap: 0 5vw;

  @include vp-1919 {
    grid-template-columns: 215px 26vw 11.2vw;
    gap: 0 3vw;
  }

  @include vp-1279 {
    gap: 0 0;
    grid-template-columns: 215px 28.5vw 12vw;
  }

  @include vp-1023 {
    grid-template-columns: 215px 14vw;
    grid-template-rows: repeat(auto-fit, minmax(auto, 100px));
    gap: 0 43vw;
  }

  @include vp-767 {
    grid-template-columns: 37px 35vw;
    grid-template-rows: repeat(auto-fit, minmax(auto, 70px));
    gap: 0 36vw;
  }
}

.header > .header__button {
  justify-self: end;
}

.header__button {
  height: min-content;
  width: auto;
  margin: 36px 0 0 0;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  border: 1px solid #f2f5f7;
  border-radius: 3px;

  @include vp-1439 {
    width: auto;
    font-size: 13px;
    padding: 10px 13px;
    margin-right: 0;
  }

  @include vp-1279 {
    width: auto;
    font-size: 11px;
    margin: 36px 0 0 0;
    padding: 10px 10px;
  }

  @include vp-1023 {
    display: none;
  }
}
