// Colors

$color-black-pearl: #041827;
$color-black-pearl-opacity: rgba(4, 24, 39, 0.5);
$color-sky-blue: #00b2ff;
$color-font-white: #f2f5f6;

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography

$ff-roboto: "Roboto", "Arial", sans-serif;
$ff-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$ff-pt-mono: "PT Mono", "Arial", sans-serif;

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-mini: 15px;
$font-size-default: 16px;
$font-size-normal: 18px;
$font-size-average: 20px;
$font-size-more: 22px;
$font-size-tall: 24px;
$font-size-big: 25px;
$font-size-mega: 28px;
$font-size-huge: 36px;
$font-size-tablet: 64px;
$font-size-desktop: 80px;

$line-height-tiny: 14px;
$line-height-small: 16px;
$line-height-mini: 19px;
$line-height-default: 22px;
$line-height-normal: 25px;
$line-height-average: 30px;
$line-height-more: 34px;
$line-height-tall: 40px;
$line-height-big: 43px;
$line-height-mega: 51px;
$line-height-tablet: 75px;
$line-height-desktop: 94px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
