// Colors
// ---------------------------------

// Default

$color-default-white:               #ffffff;
$color-default-black:               #000000;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-primary:                     #102654;
$color-additional:                  #103aae;
$color-torch-red-1:                 #ff1553;
$color-torch-red-2:                 #ff121f;
$color-resolution-blue:             #1c3374;
$color-crimson:                     #d10a42;
$color-ghost-white:                 #f8f9fc;
$color-torch-red:                   #ed0233;
$color-black-russian:               #030a1a;
$color-persian-blue:                #2e35ac;


// Gradient

$gradient-hero:              linear-gradient(90deg, rgba(28, 51, 116, 0.2) 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$crimson-to-blue:            linear-gradient(128deg, #d10a42 0%, #0041ca 45.58%);
$gradient-primary:           linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
$blue-to-red:                conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 313.31deg);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-alumni-sans:                         "Alumni Sans", "Arial", sans-serif;

$ff-roboto-condensed:                    "Roboto Condensed", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                         320px;
$vp-768:                         768px;
$vp-1366:                        1366px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
