.social {
  width: 100%;
  max-width: 1220px;
  display: grid;
  grid-template-columns: 215px repeat(2, auto);
  grid-template-rows: repeat(auto-fit, minmax(auto, auto));
  gap: 0 90px;
  padding: 0 0 100px 0;
  box-sizing: border-box;

  @include vp-1279 {
    display: grid;
    grid-template-columns: 215px auto auto;
    grid-template-rows: repeat(auto-fit, minmax(auto, 280px));
    gap: 0 1vw;
    width: 100%;
    padding: 0 100px;
  }

  @include vp-1023 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(auto-fit, minmax(60px, auto));
    gap: 5vw 1vw;
    width: 100%;
    padding: 0 50px 65px;
  }

  @include vp-767 {
    width: 100%;
    padding: 0 0 35px 0;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, minmax(60px, auto));
    gap: 6vw 1vw;
  }
}

.social__wrapper {
  @include vp-1279 {
    margin: 0;
  }

  @include vp-1023 {
    grid-row: 1;
    grid-column: 1/-1;
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
  }

  @include vp-767 {
    align-items: center;
    flex-direction: column;
  }
}

.social__list {
  display: flex;
  margin: 0 0 0 10px;
  gap: 0 15px;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    align-items: center;
    padding-top: 22px;
    margin: 0 -5px 0 0;
  }
}

.social__link {
  padding: 5px;
}

.social__icon {
  fill: #f8fdff;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon,
.social__link:active .social__icon {
  fill: #afb8be;
}

.social__logo-footer {
  padding: 20px 0 0 0;
  box-sizing: border-box;
}

.social__logo-pic-footer {
  display: block;
  margin: 0 0 0 0;
}

.social__logo-footer-link {
  display: block;
  padding: 30px 0 0 0;
  margin-bottom: 35px;
  box-sizing: border-box;

  @include vp-1023 {
    padding: 20px 0 0 0;
    margin: 0;
    box-sizing: border-box;
  }

  @include vp-767 {
    padding: 5px 0 0 0;
  }
}

.social__contact-tablet-hidden {
  display: none;

  @include vp-767 {
    display: block;
  }
}


.social__contact-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 25px 20px 0 25px;
  box-sizing: border-box;
  align-items: center;
  border-top: 1px solid #afb8be;
  border-bottom: 1px solid #afb8be;
}

.social__contact-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  grid-row: 1;
  grid-column: 1;
}

.social__contact-button {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  grid-row: 1;
  grid-column: 1/-1;
  justify-self: end;
  width: 100%;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  text-align: start;
}

.social__contact-icon {
  fill: #f8fdff;
}

.social__contact-icon--close {
  position: absolute;
  top: 11px;
  right: 5px;
}

.social__contact-icon--open {
  position: absolute;
  top: -3px;
  right: 5px;
}

.social__contact-icon--open-hidden {
  display: none;
}

.social__contact-icon--close-hidden {
  display: none;
}

.social__contact-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px 5px;
  margin: 23px 0 0 0;
  max-height: max-content;
  grid-row: 2;
  grid-column: 1/-1;
  font-family: "PT_Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #b3b9be;
}

.social__contact-content p {
  margin: 0;
}

.social__contact-link {
  font-family: "PT_Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #b3b9be;
}

.social__contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
